﻿<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">

        <div class="container" data-ng-controller="newIndentCtrl">
            <div class="card">

                <div class="card-header">
                    <h4 style="text-align:center;"><strong>Capital Investment Justification </strong></h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h4> CIJ Code </h4> </td>
                        <td style="width:30%"> <input type="text" ng-model="cij.code" name="dateinst" id="dateinst" class="form-control fg-input" ng-disabled="cij.code" required> </td>
                        <td style="width:10%"> </td>
                        <td style="width:20%"><input type="radio" ng-model="cijString.cijType" name="new"  value="1" ng-disabled="cijString.cijType"><strong> New  </strong> </td>
                        <td style="width:20%"> <input type="radio" ng-model="cijString.cijType" name="replacement"  value="0" ng-disabled="cijString.cijType"> <strong>  Replacement </strong> </td>
                    </tr>
                </table>

                <div class="card-header">
                </div>

                <table class=" table table-vmiddle table-responsive clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:15%"> <h5> Asset Type  </h5> </td>
                        <td style="width:10%"> Medical <input type="radio" ng-model="cij.assetType" name="medical" value="0"  ng-disabled="cij.assetType" /> </td>
                        <td style="width:10%"> Non-Medical <input type="radio" ng-model="cij.assetType" name="nonMedical"  value="1" ng-disabled="cij.assetType" /></td>
                        <td style="width:20%"></td>
                        <td style="width:15%"> <h5> Asset Category </h5></td>
                        <td style="width:15%"> Revenue Generating <input type="radio" ng-model="cij.assetCategory" name="revenueGenerating"  value="0" ng-disabled="cij.assetCategory" /> </td>
                        <td style="width:15%"> Value Adding <input type="radio" ng-model="cij.assetCategory" name="valueAdding"   value="1"  ng-disabled="cij.assetCategory"/> </td>
                    </tr>
                </table>

                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5>Department Name</h5></td>
                        <td style="width:30%"><input type="text" ng-model="cij.departmentName" name="deptname" id="deptname" class="form-control fg-input" required ng-disabled="cij.departmentName" ></td>
                        <td style="width:5%"></td>
                        <td style="width:10%"><h5>HOD Name</h5> </td>
                        <td style="width:30%"><input type="text" ng-model="cij.hodName" name="hodName" id="hodName" class="form-control fg-input"  required ng-disabled="cij.hodName" >
                    </tr>
                </table>


                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5> Purpose </h5></td>
                        <td style="width:70%"><textarea type="text" ng-model="cij.purpose.Text" name="hodName" id="hodName" class="form-control fg-input"  style="resize: vertical;" required ng-disabled="cij.purpose.Text"></textarea>  </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="purposequotation" itemid="purposequotation"  ng-file-select-items="onFileSelect($files)"  ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                        </td>

                        <td>
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.purpose.Link" href="FileDownload.aspx?attachid={{cij.purpose.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                    </tr>
                </table>

                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"> <h5> Specifications </h5> </td>
                        <td style="width:70%"><textarea type="text" ng-model="cij.specifications.Text" name="Specifications" id="Specifications" ng-disabled="cij.specifications.Text" class="form-control fg-input" style="resize: vertical;" required> </textarea></td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="specificationsquotation" itemid="specificationsquotation" ng-file-select-items="onFileSelect($files)"  ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.specifications.Link" href="FileDownload.aspx?attachid={{cij.specifications.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                    </tr>
                </table>

                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"> <h5> Need </h5> </td>
                        <td style="width:70%"> <textarea type="text" ng-model="cij.need.Text" name="hodName" id="hodName" class="form-control fg-input" ng-disabled="cij.need.Text" style="resize: vertical;" required></textarea> </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="needquotation" itemid="needquotation" ng-file-select-items="onFileSelect($files)"   ng-disabled="true"/>
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.need.Link" href="FileDownload.aspx?attachid={{cij.need.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                    </tr>
                </table>


                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"> <h5> Proposed Suppliers </h5> </td>
                        <td style="width:20%">1 <textarea ng-model="cij.proposedSuppliers.supplier1.name" name="proposedsuppliers" rows="2" id="proposedsuppliers" ng-disabled="cij.proposedSuppliers.supplier1.name" class="fg-input form-control " style="resize: vertical;"></textarea> </td>
                        <td style="width:20%"> 2<textarea ng-model="cij.proposedSuppliers.supplier2.name" name="proposedsuppliers1" rows="2" id="proposedsuppliers1" ng-disabled="cij.proposedSuppliers.supplier2.name" class="fg-input form-control " style="resize: vertical;"></textarea></td>
                        <td style="width:20%">3 <textarea ng-model="cij.proposedSuppliers.supplier3.name" name="proposedDescription" rows="2" id="ProposedDescription" ng-disabled="cij.proposedSuppliers.supplier3.name" class="fg-input form-control " style="resize: vertical;"></textarea></td>
                        <td style="width:20%">4<textarea ng-model="cij.proposedSuppliers.supplier4.name" name="proposedDescription1" rows="2" id="ProposedDescription1"  ng-disabled="cij.proposedSuppliers.supplier4.name" class="fg-input form-control " style="resize: vertical;"></textarea> </td>
                    </tr>
                </table>

                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:12%"> <h5> No. of Existing Equipment </h5> </td>
                        <td style="width:20%"><input type="text" ng-model="cij.noOfExixstingEquipment" name="equipment" id="equipment" ng-disabled="cij.noOfExixstingEquipment" class="form-control fg-input" required></td>
                        <td style="width:10%"></td>
                        <td style="width:10%"> <h5> Approximate Cost Range </h5> </td>
                        <td style="width:20%"><input type="text" ng-model="cij.approximateCostRange" name="costRange" id="costRange" ng-disabled="cij.approximateCostRange" class="form-control fg-input" required> </td>
                    </tr>
                </table>

                <div class="card-header">
                    <h4 style="text-align:center;"> Proposed Total Investment </h4>
                </div>

                <table class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:18%"><h5> Basic Equipment Cost </h5><input type="text" ng-model="cij.proposedTotallInvestment.baicEquipmentCost" name="eqCost" id="eqCost" ng-disabled="cij.proposedTotallInvestment.baicEquipmentCost" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>

                        <td style="width:18%"><h5>Accessories Cost</h5><input type="text" ng-model="cij.proposedTotallInvestment.accessoriesCost" name="accCost" id="accCost" ng-disabled="cij.proposedTotallInvestment.accessoriesCost" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>

                        <td style="width:18%"><h5> Installation Cost</h5><input type="text" ng-model="cij.proposedTotallInvestment.installationCost" name="InstCost" id="InstCost" ng-disabled="cij.proposedTotallInvestment.installationCost" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>

                        <td style="width:18%"><h5> Any Other Cost</h5><input type="text" ng-model="cij.proposedTotallInvestment.anyOtherCost" name="OthCost" id="OthCost" ng-disabled="cij.proposedTotallInvestment.anyOtherCost" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>

                        <td style="width:18%"><h5> Total Cost </h5><input type="text" ng-model="cij.proposedTotallInvestment.totalCost" name="totCost" id="totCost" ng-disabled="cij.proposedTotallInvestment.totalCost" class="form-control fg-input" required></td>
                    </tr>
                </table>

                <div class="card-header" ng-if="cijString.cijType > 0">
                    <h4 style="text-align:center;">  Payback Period Analysis(Incase of Revenue Generate Equipment) </h4>
                </div>

                <table ng-if="cijString.cijType > 0" class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:20%"><h5> Expected No of Procedures Per Month </h5><input type="text" ng-model="cij.paybackPeriodAnanysis.expectedNoOfProceduresPerMonth" name="paybackmonth" id="paybackmonth" ng-disabled="cij.paybackPeriodAnanysis.expectedNoOfProceduresPerMonth" class="form-control fg-input" required></td>

                        <td style="width:20%"><h5> Proposed Tariff Per Procedure </h5><input type="text" ng-model="cij.paybackPeriodAnanysis.proposedTarrifPerProcedure" name="paybackProcedure" id="paybackProcedure" ng-disabled="cij.paybackPeriodAnanysis.proposedTarrifPerProcedure" class="form-control fg-input" required></td>

                        <td style="width:20%"><h5> Approximate Running Cost per Month 1</h5><input type="text" ng-model="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth" name="paybackApprmonth" id="paybackApprmonth" ng-disabled="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth" class="form-control fg-input" required></td>
                        <td style="width:20%"><h5> Approximate Running Cost per Month 2</h5><input type="text" ng-model="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth1" name="paybackApprmonth" id="paybackApprmonth" ng-disabled="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth1" class="form-control fg-input" required></td>

                        <td style="width:20%"><h5> Payback Period </h5><input type="text" ng-model="cij.paybackPeriodAnanysis.paybackPeriod" name="paybackPeriod" id="paybackPeriod" ng-disabled="cij.paybackPeriodAnanysis.paybackPeriod" class="form-control fg-input" required></td>

                    </tr>
                </table>

                <div class="card-header" ng-if="cijString.cijType > 0">
                    <h4 style="text-align:center;">  Value Addition To The Patient(Incase of Non-Revenue Generate Equipment) </h4>
                </div>

                <table ng-if="cijString.cijType > 0" class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5> Patient Outcome </h5> </td>
                        <td style="width:20%"><input type="text" ng-model="cij.valueAdditionToThePatient.patientOutcome" name="patientOutcome" id="patientOutcome" ng-disabled="cij.valueAdditionToThePatient.patientOutcome" class="form-control fg-input" required></td>
                        <td style="width:3%"></td>
                        <td style="width:10%"><h5> Patient Safety </h5> </td>
                        <td style="width:20%"><input type="text" ng-model="cij.valueAdditionToThePatient.patiencySafety" name="patientSafety" id="patientSafety" ng-disabled="cij.valueAdditionToThePatient.patiencySafety" class="form-control fg-input" required></td>
                        <td style="width:3%"></td>
                        <td style="width:10%"><h5> Operational Efficiency  </h5> </td>
                        <td style="width:20%"><input type="text" ng-model="cij.valueAdditionToThePatient.operationalEfficiency" name="OperEfficiency" id="OperEfficiency" ng-disabled="cij.valueAdditionToThePatient.operationalEfficiency" class="form-control fg-input" required></td>
                    </tr>
                </table>


                <div class="card-header" ng-if="cijString.cijType > 0">
                    <h4 style="text-align:center;">  Value Addition (Incase of Non-Medical Equipment) </h4>
                </div>


                <table ng-if="cijString.cijType > 0" class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tr style="width:100%">
                        <td style="width:30%"> <h5> Cost Reduction </h5> <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.costReduction" name="costReduction" id="costReduction" ng-disabled="cij.valueAdditionNonMedicalEquipment.costReduction" class="form-control fg-input" required> </td>
                        <td style="width:3%"></td>
                        <td style="width:30%"> <h5> Operational Efficiency </h5> <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.operationalEfficiency" name="operEfficiency" id="operEfficiency" ng-disabled="cij.valueAdditionNonMedicalEquipment.operationalEfficiency" class="form-control fg-input" required> </td>
                        <td style="width:3%"></td>
                        <td style="width:30%"> <h5> Increase In Employee Productivity </h5> <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.increaseInEmployee" name="EmplProductivity" id="EmplProductivity" ng-disabled="cij.valueAdditionNonMedicalEquipment.increaseInEmployee" class="form-control fg-input" required> </td>
                    </tr>
                </table>

                <table ng-if="cijString.cijType > 0" class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5>  </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            Requested By
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            Recommended By
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Name </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.requestedBy.name" name="reqName" id="reqName" ng-disabled="cij.valueAdditionNonMedicalEquipment.requestedBy.name" class="form-control fg-input" required>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.recommendedBy.name" name="recName" id="recName" ng-disabled="cij.valueAdditionNonMedicalEquipment.recommendedBy.name" class="form-control fg-input" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Signature </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.requestedBy.signature.Text" name="reqSign" id="reqSign" ng-disabled="cij.valueAdditionNonMedicalEquipment.requestedBy.signature.Text" class="form-control fg-input" required>
                        </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="reqsignquotation" itemid="reqsignquotation" ng-file-select-items="onFileSelect($files)"  ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.valueAdditionNonMedicalEquipment.requestedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.valueAdditionNonMedicalEquipment.requestedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>

                        <td></td>
                        <td>
                            <input type="text" ng-model="cij.valueAdditionNonMedicalEquipment.recommendedBy.signature.Text" name="recSign" id="recSign" ng-disabled="cij.valueAdditionNonMedicalEquipment.recommendedBy.signature.Text" class="form-control fg-input" required>
                        </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="recsignquotation" itemid="recsignquotation" ng-file-select-items="onFileSelect($files)"  ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.valueAdditionNonMedicalEquipment.recommendedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.valueAdditionNonMedicalEquipment.recommendedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Date </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" placeholder="DD-MM-YYYY" ng-model="cij.valueAdditionNonMedicalEquipment.requestedBy.date" name="reqDate" id="reqDate" ng-disabled="cij.valueAdditionNonMedicalEquipment.requestedBy.date" class="form-control fg-input" required>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" placeholder="DD-MM-YYYY" ng-model="cij.valueAdditionNonMedicalEquipment.recommendedBy.date" name="recDate" id="recDate" ng-disabled="cij.valueAdditionNonMedicalEquipment.recommendedBy.date" class="form-control fg-input" required>
                        </td>
                    </tr>
                </table>

                <div class="card-header" ng-if="cijString.cijType == 0">
                    <h4 style="text-align:center;">  Aging Analysis </h4>
                </div>

                <table ng-if="cijString.cijType == 0" class=" table table-vmiddle table-responsive" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5> Date of Installation </h5></td>
                        <td style="width:20%"><input type="text" placeholder="DD-MM-YYYY" ng-model="cij.agingAnalysis.dateOfInstallation" name="dateinst" id="dateinst" ng-disabled="cij.agingAnalysis.dateOfInstallation" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:10%"><h5> Date of De-instillation </h5></td>
                        <td style="width:20%"><input type="text" placeholder="DD-MM-YYYY" ng-model="cij.agingAnalysis.dateOfDeInstallation" name="datedinst" id="datedinst" ng-disabled="cij.agingAnalysis.dateOfDeInstallation" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:10%"><h5> No of Years Served </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.agingAnalysis.noOfYearsServed" name="served" id="served" ng-disabled="cij.agingAnalysis.noOfYearsServed" class="form-control fg-input" required></td>
                    </tr>
                </table>

                <div class="card-header" ng-if="cijString.cijType == 0">
                    <h4 style="text-align:center;">  Expenditure Analysis </h4>
                </div>

                <table ng-if="cijString.cijType == 0" class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5> Equipment Cost </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.expenditureAnalysis.equipmentCost" name="expCost" id="expCost" ng-disabled="cij.expenditureAnalysis.equipmentCost" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:10%"><h5> Service Cost </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.expenditureAnalysis.service" name="serviceCost" id="serviceCost" ng-disabled="cij.expenditureAnalysis.service" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:10%"><h5> Spares Cost </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.expenditureAnalysis.sparesCost" name="spareCost" id="spareCost" ng-disabled="cij.expenditureAnalysis.sparesCost" class="form-control fg-input" required></td>
                    </tr>
                </table>

                <div class="card-header" ng-if="cijString.cijType == 0">
                    <h4 style="text-align:center;">  Revenue Analysis (Incase of Revenue Generate equipment) </h4>
                </div>

                <table ng-if="cijString.cijType == 0" class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:10%"><h5> No.of Procedures Done </h5></td>
                        <td style="width:25%"><input type="text" ng-model="cij.revenueAnalysis.noOfProceduresDone" name="procRevenue" id="procRevenue" ng-disabled="cij.revenueAnalysis.noOfProceduresDone" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:10%"><h5> Income From Procedures </h5></td>
                        <td style="width:25%"><input type="text" ng-model="cij.revenueAnalysis.incomeFromProcedures" name="procIncome" id="procIncome" ng-disabled="cij.revenueAnalysis.incomeFromProcedures" class="form-control fg-input" required></td>
                    </tr>
                </table>

                <table ng-if="cijString.cijType == 0" class=" table table-vmiddle table-responsive clear-both" style="background-color:#f5f5f5">
                    <tr>
                        <td></td>
                        <td style="text-align:center"> <h5> Requested By</h5></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center"> <h5>  Recommended By</h5></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Name </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="cij.revenueAnalysis.requestedBy.name" name="reqName" id="reqName" ng-disabled="cij.revenueAnalysis.requestedBy.name" class="form-control fg-input" required>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" ng-model="cij.revenueAnalysis.recommendedBy.name" name="recName" id="recName" ng-disabled="cij.revenueAnalysis.recommendedBy.name" class="form-control fg-input" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Signature </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="cij.revenueAnalysis.requestedBy.signature.Text" name="reqSign" id="reqSign" ng-disabled="cij.revenueAnalysis.requestedBy.signature.Text" class="form-control fg-input" required>
                        </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="reqstmsignquotation" itemid="reqstmsignquotation" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.revenueAnalysis.requestedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.revenueAnalysis.requestedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                        <td></td>
                        <td>
                            <input type="text" ng-model="cij.revenueAnalysis.recommendedBy.signature.Text" name="recSign" id="recSign" ng-disabled="cij.revenueAnalysis.recommendedBy.signature.Text" class="form-control fg-input" required>
                        </td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="recmsignquotation" itemid="recmsignquotation" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.revenueAnalysis.recommendedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.revenueAnalysis.recommendedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Date </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" placeholder="DD-MM-YYYY" ng-model="cij.revenueAnalysis.requestedBy.date" name="reqDate" id="reqDate" ng-disabled="cij.revenueAnalysis.requestedBy.date" class="form-control fg-input" required>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" placeholder="DD-MM-YYYY" ng-model="cij.revenueAnalysis.recommendedBy.date" name="recDate" id="recDate" ng-disabled="cij.revenueAnalysis.recommendedBy.date" class="form-control fg-input" required>
                        </td>
                    </tr>
                </table>


                <div class="card-header">
                    <h4 style="text-align:center;">  Assessed and Approved By (Unit Head) </h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:8%"><h5> Name </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.assessedAndApprovedBy.name" name="apprName" id="apprName" ng-disabled="cij.assessedAndApprovedBy.name" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:8%"><h5> Signature </h5></td>
                        <td style="width:15%"><input type="text" ng-model="cij.assessedAndApprovedBy.signature.Text" name="apprSign" id="apprSign" ng-disabled="cij.assessedAndApprovedBy.signature.Text" class="form-control fg-input" required></td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="signquotation" itemid="signquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.assessedAndApprovedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.assessedAndApprovedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                        <td style="width:2%"></td>
                        <td style="width:8%"><h5> Date </h5></td>
                        <td style="width:20%"><input type="text" placeholder="DD-MM-YYYY" ng-model="cij.assessedAndApprovedBy.date" name="apprDate" id="apprDate" ng-disabled="cij.assessedAndApprovedBy.date" class="form-control fg-input" required></td>
                    </tr>
                </table>

                <div class="card-header">
                    <h4 style="text-align:center;">  Budget Approved By (Central Finance Department) </h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">
                        <td style="width:8%"><h5> Name </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.budgetApprovedBy.name" name="budgtName" id="budgtName" ng-disabled="cij.budgetApprovedBy.name" class="form-control fg-input" required></td>
                        <td style="width:2%"></td>
                        <td style="width:8%"><h5> Signature </h5></td>
                        <td style="width:20%"><input type="text" ng-model="cij.budgetApprovedBy.signature.Text" name="budgtSign" id="budgtSign" ng-disabled="cij.budgetApprovedBy.signature.Text" class="form-control fg-input" required></td>

                        <td>
                            <!--<div class="col-md-12 top-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="budgtsignquotation" itemid="budgtsignquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.budgetApprovedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.budgetApprovedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                        <td style="width:2%"></td>
                        <td style="width:8%"><h5> Date </h5></td>
                        <td style="width:20%"><input type="text" placeholder="DD-MM-YYYY" ng-model="cij.budgetApprovedBy.date" name="budgtDate" id="budgtDate" class="form-control fg-input" ng-disabled="cij.budgetApprovedBy.date" required></td>
                    </tr>
                </table>

                <div class="card-header">
                    <h4 style="text-align:center;">   Purchase Department Use</h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr style="width:100%">

                        <td style="width:15%"> <h5> Po No </h5> <input type="text" ng-model="cij.purchaseDepartmentUse.poNo" name="purchasePoNo" id="purchasePoNo" ng-disabled="cij.purchaseDepartmentUse.poNo" class="form-control fg-input" required> </td>
                        <td style="width:2%"></td>

                        <td style="width:15%"> <h5> Po Date </h5> <input type="text" placeholder="DD-MM-YYYY" ng-model="cij.purchaseDepartmentUse.poDate" name="purchasePoDate" id="purchasePoDate" ng-disabled="cij.purchaseDepartmentUse.poDate" class="form-control fg-input" required> </td>
                        <td style="width:2%"></td>

                        <td style="width:15%"> <h5> Supplier Name </h5> <input type="text" ng-model="cij.purchaseDepartmentUse.supplierName" name="purchaseName" id="purchaseName" ng-disabled="cij.purchaseDepartmentUse.supplierName" class="form-control fg-input" required> </td>
                        <td style="width:2%"></td>

                        <td style="width:15%"> <h5> Other Info </h5> <input type="text" ng-model="cij.purchaseDepartmentUse.otherInfo" name="purchaseother" id="purchaseother" ng-disabled="cij.purchaseDepartmentUse.otherInfo" class="form-control fg-input" required> </td>
                        <td style="width:2%"></td>

                        <td style="width:15%"> <h5> Signature </h5> <input type="text" ng-model="cij.purchaseDepartmentUse.signature.Text" name="purchaseSigna" id="purchaseSigna" ng-disabled="cij.purchaseDepartmentUse.signature.Text" class="form-control fg-input" required> </td>

                        <td>
                            <!--<div class="col-md-12 top-half-buffer">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file btn-new-look m-r-10">
                                            <span class="fileinput-new">Upload</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".xlsx" id="deprtsignquotation" itemid="deprtsignquotation" ng-file-select-items="onFileSelect($files)"  ng-disabled="true" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>-->
                            <small>
                                <a title="Purpose" target="_blank" ng-if="cij.purchaseDepartmentUse.signature.Link" href="FileDownload.aspx?attachid={{cij.purchaseDepartmentUse.signature.Link}}&sessionid={{sessionid}}">Download</a>
                            </small>
                        </td>
                    </tr>
                </table>
                <br /><br />

                <div class="row text-center">
                  




                    <!--<select ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)"
                            chosen data-placeholder="workflowType" name="workflowType" ng-model="workflowObj.workflowID" required class="form-control">
                        <option ng-repeat="wf in workflowList" value="{{wf.workflowID}}">{{wf.workflowTitle}}</option>
                    </select>-->






                </div>
                <br /><br />



                <!--<div class="row text-center" style="margin-left:15px !important; margin-right:15px !important;max-width:100%; overflow-x:auto;"
                     ng-if="itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">
                    <div class="col-md-12">
                        <div class="row" ng-repeat="step in itemWorkflow[0].WorkflowTracks">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                            <b> {{step.status}}</b>
                                        </P>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 list-group-item" href="#"
                                         ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-4">

                                                <button class="btn btn-file" ng-click="updateTrack(step, 'APPROVED')" ng-disabled="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D" title="Reject" aria-hidden="true"></i></button>

                                            </div>
                                            <div  class="col-md-4">

                                                <button class="btn btn-file" ng-click="updateTrack(step, 'REJECTED')" ng-disabled="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-down fa-2x" style="color:red" title="Reject" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                        <div class="row p-3" style="margin-top:10px;">
                                            <div class="col-md-12">
                                                &nbsp; <b class="pull-left">Designation:</b> {{step.approver.desigCode}} <br /><b class="pull-left">Department:</b>{{step.department.deptCode}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea ng-disabled="IsUserApprover != true || currentAccess != step.order" rows="4" cols="50" ng-model="step.comments" placeholder="Comments" type="text" class="form-control fg-input" style="height:100px !important;resize: vertical;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-4">
                                        <i class="fa fa-arrow-down fa-2x" aria-hidden="true" ng-if="itemWorkflow[0].WorkflowTracks.length != ($index + 1)"></i>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>

                </div>-->



                <br /><br />
            </div>
        </div>
    </section>
</section>
