﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listGRNCtrl">
                <div class="white-box">
                    <div class="row" style="margin-bottom:10px;" ng-if="!isGRN">

                        <!--<div class="col-md-2">
                            <h5><strong>Item</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.itemName"
                                         options="item.name for item in filtersList.itemList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>-->
                        <div class="col-md-2" ng-show="isCustomer">
                            <h5><strong>Supplier Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.supplier"
                                         options="item.name for item in filtersList.supplierNameList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Status</strong></h5>
                            <select ng-model="filters.status" ng-change="setFilters(currentPage-1);" class="form-control" style="margin:5px">
                                <option selected value="All">ALL</option>
                                <option value='Open'>Open GRN's</option>
                                <option value='Closed'>Closed GRN's</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.grnFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.grnFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.grnToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.grnToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>
                        <div class="col-md-2 m-t-20" ng-if="grnDet.grnLevel" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" ng-if="showInvoiceButton()"
                                    ng-click="routeToInvoice()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Create Invoice
                            </button>
                        </div>

                        <div class="col-md-2" ng-if="showInvoiceButton()" style="margin-top: 10px;">
                            <div class="col-md-12"><div class="row"><label><strong>GRN's Selected</strong></label></div></div>
                            <textarea style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;">{{selectedGRNNumbers}}</textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <!--<small ng-if="!isCustomer" style="color:red"> Click on checkbox to create invoice</small>-->
                            <small ng-if="!isCustomer" style="color:red;font-size: small"> Please click on checkbox to submit <span style="font-size: medium; font-weight: bold;">digital invoice</span></small>
                            <table class="table-striped table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="text-align:center" ng-show="isVendor"></th>
                                        <th style="text-align:center">PO Number</th>
                                        <th style="text-align:center">PO Line Item</th>
                                        <th style="text-align:center">Material Code</th>
                                        <th style="text-align:center">Item Name</th>
                                        <!--<th style="text-align:center">Item Last Received Date</th>-->
                                        <th style="text-align:center">Received Quantity</th>
                                        <th style="text-align:center">Rejected Quantity</th>
                                        <th style="text-align:center">UOM</th>
                                        <th style="text-align:center">GRN No</th>
                                        <th style="text-align:center">GRN Item</th>
                                        <th style="text-align:center">GRN Date</th>
                                        <th style="text-align:center" ng-if="isCustomer">Supplier Code</th>
                                        <th ng-if="isCustomer" style="text-align:center">Supplier Name</th>
                                        <th style="text-align:center">Invoice Number</th>
                                        <th style="text-align:center">Header Text</th>
                                        <th style="text-align:center">Delivery Note</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grn in filteredGrnsList">
                                        <td ng-show="isVendor">
                                            <input type="checkbox" class="top-buffer" ng-model="grn.selectGRNForInvoice"
                                                   ng-disabled="grn.IS_DISABLED"
                                                   role="button" ng-click="createInvoice(grn)" />
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.PO_NUMBER}}</label>
                                        </td>

                                        <td style="text-align:center">
                                            <label>{{grn.PO_LINE_ITEM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.PRODUCT_CODE}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.PRODUCT_NAME}}</label>
                                        </td>
                                        <!--<td style="text-align:center">
                    <label>{{grn.ITEM_RECEIVED_DATE}}</label>
                </td>-->
                                        <td style="text-align:center">
                                            <label>{{grn.RECEIVED_QUANTITY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.REJECTED_QUANTITY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.UOM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.GRN_NUMBER}}</label>
                                        </td>

                                        <td style="text-align:center">
                                            <label>{{grn.GRN_LINE_ITEM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.GRN_DATE}}</label>
                                        </td>
                                        <td style="text-align:center" ng-if="isCustomer">
                                            <label>{{grn.SUPPLIER_CODE}}</label>
                                        </td>
                                        <td style="text-align:center" ng-if="isCustomer">
                                            <label>{{grn.SUPPLIER_NAME}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <a class="prmellipsis" ng-click="goToInvoicePage(grn.INVOICE_NUMBER)">{{grn.INVOICE_NUMBER}}</a>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.HEADER_TEXT}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.DELIVERY_NOTE}}</label>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>grnStats.totalgrns)?(grnStats.totalgrns):(pageSizeTemp+9) }} of {{ grnStats.totalgrns }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
