
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="dispatchTrackFormCtrl">
                <div class="col-md-4 m-t-20">
                    <!--<select ng-model="CUSTOMER_BATCH" class="form-control" style="margin:5px" ng-change="getCustomerBatch(CUSTOMER_BATCH)">
                        <option value="ASN">Advance Shipment Note Form (ASN)</option>
                        <option value="SERVICE">New Delivery Note Form</option>

                    </select>-->

                </div>
                <div class="white-box" ng-if="asnForm">
                    <form ng-submit="requirementForm.$valid" class="requirementForm" name="requirementForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="white-box">
                                    <div class="row text-center">
                                        <h3>Advance Shipment Note Form (ASN)</h3>
                                    </div>
                                    <!--<div class="card-header">
        <h2>
            Dispatch Tracking Form
            <small>
                <a title="Dispatch Receipt" target="_blank"
                   ng-if="dispatchTrackObject.dispatchLink > 0 && !userIsOwner"
                   href="FileDownload.aspx?attachid={{dispatchTrackObject.dispatchLink}}&sessionid={{sessionID}}">
                    Dispatch Receipt
                </a>
            </small>
        </h2>
    </div>-->
                                    <!--<div class="card-body card-padding">-->
                                    <div class="row">
                                        <!--<div class="col-xs-6">
                                            <strong>Purchase Order No:</strong> {{poOrderId}}
                                        </div>-->
                                        
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div ng-show="isCustomer && 1==2">
                                            <div class="col-md-6">
                                                <strong>Asn Code:</strong> {{dispatchObject.ASN_CODE}}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Delivery Date (ETA):</strong> {{dispatchObject.DELIVERY_DATE}}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Shipment Date:</strong> {{dispatchObject.SHIPMENT_DATE}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Document Date:</strong> {{dispatchObject.DOCUMENT_DATE}}
                                            </div>

                                            <!--<div class="col-md-6">
                <strong>Customer Batch:</strong> {{dispatchTrackObject.customerBatch}}
            </div>-->
                                            <div class="col-md-6">
                                                <strong>Ship From Location:</strong> {{dispatchObject.SHIP_FROM_LOCATION}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Customer Location:</strong> {{dispatchObject.CUSTOMER_LOCATION}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Ship To Location:</strong> {{dispatchObject.SHIP_TO_LOCATION}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Unloading Point:</strong> {{dispatchObject.UNLOADING_POINT}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Shipped Through:</strong> {{dispatchObject.SHIPPED_THROUGH}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                    <br />
                                    <div class="row">
                                        <div class="row">
                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <!--<div class="fg-line input-field fg-toggled">
            <label class="fg-label">Asn Code <label ng-if="isExists" class="text-danger"> ( Dispatch Code already exists ) </label></label>
            <input ng-model="dispatchObject[0].ASN_CODE" ng-change="CheckUniqueIfExists(dispatchTrackObject.dispatchCode,'DISPATCH_CODE')" id="dispatchCode" name="dispatchCodeName" class="form-control fg-input fg-toggled" />
        </div>-->
                                                <strong>Purchase Order No:</strong> {{poOrderId}}

                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <label class="fg-label">Delivery Date (ETA)<span class="text-danger">*</span></label>
                                                <div class="fg-line fg-toggled">
                                                    <div autocomplete="off" moment-picker="dispatchObject[0].DELIVERY_DATE_TEMP" format="DD-MM-YYYY">
                                                        <input name="dispatchDate" ng-disabled="isCustomer" id="dispatchDate" class="form-control" placeholder="" ng-model="dispatchObject[0].DELIVERY_DATE_TEMP">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <label class="fg-label">Shipment Date<span class="text-danger">*</span></label>
                                                <div class="fg-line fg-toggled">
                                                    <div autocomplete="off" moment-picker="dispatchObject[0].SHIPMENT_DATE_TEMP" format="DD-MM-YYYY">
                                                        <input name="shipmentDate" ng-disabled="isCustomer" id="shipmentDate" class="form-control" placeholder="" ng-model="dispatchObject[0].SHIPMENT_DATE_TEMP">
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="top-buffer form-group fg-float col-sm-6">
        <label class="fg-label">Requested Delivery Date</label>
        <div class="fg-line fg-toggled">
            <div moment-picker="dispatchObject[0].REQUESTED_DELIVERY_DATE_TEMP" format="DD-MM-YYYY">
                <input name="requestedDeliveryDate" id="requestedDeliveryDate" class="form-control" placeholder="" ng-model="dispatchObject[0].REQUESTED_DELIVERY_DATE_TEMP">
            </div>
        </div>
    </div>-->


                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Ship Notice Type<span class="text-danger">*</span></label>
                                                    <select ng-model="dispatchObject[0].SHIP_NOTICE_TYPE" ng-disabled="isCustomer" ng-click="setMandatoryFields(dispatchObject[0].SHIP_NOTICE_TYPE)" class="form-control" style="margin:5px">
                                                        <option value="Estimate">Estimate</option>
                                                        <option value="Actual">Actual</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Customer Batch</label>
                                                    <input ng-model="CUSTOMER_BATCH" id="customerBatch" ng-disabled="isCustomer" name="customerBatchName" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Ship From<span class="text-danger">*</span></label>
                                                    <input type="text" ng-model="dispatchObject[0].SHIP_FROM_LOCATION" ng-disabled="isCustomer" maxlength="30" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>


                                            <div class="top-buffer form-group fg-float col-sm-12">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Delivery To<span class="text-danger">*</span></label>
                                                    <input type="text" ng-model="dispatchObject[0].SHIP_TO_LOCATION" ng-disabled="isCustomer"  maxlength="30" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table tablesaw table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th class="text-center" width="10%">PO Line Item</th>
                                                            <th class="text-center" width="5%">RM Code</th>
                                                            <th class="text-center" width="40%">RM Name</th>
                                                            <th class="text-center" width="5%">UOM</th>
                                                            <th>PO Delivery Date</th>
                                                            <th class="text-center" width="5%">Net Weight (Remaining)</th>
                                                            <th>Gross Weight</th>
                                                            <th>No of Packages</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in dispatchObject">
                                                            <td class="text-center">
                                                                <label>{{item.PO_LINE_ITEM}}</label>
                                                            </td>
                                                            <td>{{item.PRODUCT_CODE}}</td>
                                                            <td class="text-center">
                                                                <label>{{item.PRODUCT_NAME}}</label>
                                                            </td>
                                                            <td class="text-center">
                                                                <label>{{item.UOM}}</label>
                                                            </td>
                                                            <td>
                                                                {{item.REQUESTED_DELIVERY_DATE_TEMP}}
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" valid-number allow-decimal="true"
                                                                       allow-negative="false" maxlength="13" decimal-upto="3" ng-model="item.NET_WT" ng-disabled="item.REMAINING_NET_QTY==0||isCustomer" ng-style="item.REMAINING_NET_QTY !==0 && {'background-color': '#f5b2b2'}"/>
                                                                <span>Remaining Qty: {{item.REMAINING_NET_QTY}}</span><br />
                                                                <span class="text-danger" ng-show="item.isErrorWeightValidation">Please enter Net Weight greater than 0 and less than Ack Qty</span>
                                                                <span class="text-danger" ng-show="item.isErrorWeightValidationRemaining">Please enter Net Weight greater than 0 and less than Remaining Quantity</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" valid-number allow-decimal="true"
                                                                       allow-negative="false" maxlength="13" decimal-upto="3" ng-model="item.GROSS_WT" ng-disabled="item.REMAINING_NET_QTY==0||isCustomer" ng-style="item.REMAINING_NET_QTY !==0 && {'background-color': '#f5b2b2'}" />
                                                                <span class="text-danger" ng-show="item.isErrorGrossWeightValidation">Please enter Gross Weight greater than 0</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" valid-number allow-decimal="false" ng-disabled="isCustomer"
                                                                       allow-negative="false" maxlength="5" ng-model="item.NO_OF_PACKAGES" />
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Transporter / Carrier Name<span class="text-danger">*</span></label>
                                                    
                                                    <input type="text" ng-model="dispatchObject[0].TRANSPOTER_NAME" maxlength="35" ng-disabled="isCustomer" id="totalWeight" name="transporterName" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">LR / Tracking / Vehicle No<span ng-if="mandatoryField" class="text-danger">*</span></label>
                                                    <input type="text" ng-model="dispatchObject[0].VECHICLE_NO" ng-disabled="isCustomer" id="vechicleNo"  maxlength="16" name="vechicleNo" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>
                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <label class="fg-label">LR / Tracking Date<span ng-if="mandatoryField" class="text-danger">*</span></label>
                                                <div class="fg-line fg-toggled">
                                                    <div autocomplete="off" moment-picker="dispatchObject[0].TRACKING_DATE_TEMP" format="DD-MM-YYYY">
                                                        <input name="shipmentDate" id="shipmentDate" class="form-control" ng-disabled="isCustomer" placeholder="" ng-model="dispatchObject[0].TRACKING_DATE_TEMP">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Shipping Method</label>
                                                    <!--<input type="text" ng-model="dispatchObject[0].SHIPPED_THROUGH" maxlength="4" id="shippingMethod" name="shippingMethod" class="form-control fg-input fg-toggled" />-->
                                                    <select ng-model="dispatchObject[0].SHIPPED_THROUGH" ng-disabled="isCustomer" class="form-control" style="margin:5px">
                                                        <option value="Road">Road</option>
                                                        <option value="Sea">Sea</option>
                                                        <option value="Air">Air</option>
                                                        <option value="Cour">Courier</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Incoterm</label>
                                                    <input  type = "text" ng-model="dispatchObject[0].INCOTERM" ng-disabled="isCustomer" maxlength="28" id="Incoterms" name="Incoterms" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Payment Method</label>
                                                    <select ng-model="dispatchObject[0].PAYMENT_METHOD" ng-disabled="isCustomer" class="form-control" style="margin:5px">
                                                        <option value="ToPay">To Pay</option>
                                                        <option value="PrePaid">Pre-paid</option>
                                                        <option value="PaidUpto">Paid upto</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Invoice Number</label>
                                                    <input type = "text" ng-model="dispatchObject[0].INVOICE_NUMBER" ng-disabled="isCustomer" id="invoiceNumber" maxlength = "18" name="invoiceNumber" class="form-control fg-input fg-toggled" />
                                                </div>
                                            </div>

                                            <div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Attachment</label>
                                                    <!--<input ng-model="dispatchObject.ATTACHMENT" id="attachment" name="attachment" class="form-control fg-input fg-toggled" />-->
                                                    <div class="form-group fg-float col-md-12">
                                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light"  >
                                                            <span><i class="fa fa-upload  m-r-5"></i></span>
                                                            <input type="file"  ng-disabled="isCustomer" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id=0 itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                                        </div>
                                                        <label ng-if="attch.fileID <= 0" ng-repeat="attch in dispatchObject[0].attachmentsArray">{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;(<span>{{((attch.fileSize)*0.0009765625).toFixed(1)}}KB of 6MB</span>)</label>
                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in dispatchObject[0].attachmentsArray">
                                                            <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--<div class="row" ng-show="!isCustomer">
        <div class="top-buffer form-group fg-float col-sm-6">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Asn Code <label ng-if="isExists" class="text-danger"> ( Dispatch Code already exists ) </label></label>
                <input ng-model="dispatchObject.ASN_CODE" ng-change="CheckUniqueIfExists(dispatchTrackObject.dispatchCode,'DISPATCH_CODE')" id="dispatchCode" name="dispatchCodeName" class="form-control fg-input fg-toggled" />
            </div>

        </div>

        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
            <label class="fg-label">Delivery Date (ETA)</label>
            <div class="fg-line fg-toggled">
                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject.DELIVERY_DATE" format="DD-MM-YYYY">
                    <input name="dispatchDate" id="dispatchDate" class="form-control" placeholder="" ng-model="dispatchObject.DELIVERY_DATE">
                </div>
            </div>
        </div>

        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
            <label class="fg-label">Shipment Date</label>
            <div class="fg-line fg-toggled">
                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject.SHIPMENT_DATE" format="DD-MM-YYYY">
                    <input name="shipmentDate" id="shipmentDate" class="form-control" placeholder="" ng-model="dispatchObject.SHIPMENT_DATE">
                </div>
            </div>
        </div>

        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
            <label class="fg-label">Document Date</label>
            <div class="fg-line fg-toggled">
                <div ng-disabled="isCustomer" moment-picker="dispatchObject.DOCUMENT_DATE" format="DD-MM-YYYY">
                    <input name="documentDate" id="documentDate" class="form-control" placeholder="" ng-model="dispatchObject.DOCUMENT_DATE">
                </div>
            </div>
        </div>

        <div class="form-group fg-float col-sm-6">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Customer Batch</label>
                <input ng-model="dispatchObject.CUSTOMER_BATCH" id="customerBatch" name="customerBatchName" class="form-control fg-input fg-toggled" />
            </div>
        </div>

        <div class="form-group fg-float col-sm-6">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Ship From Location</label>
                <input ng-model="dispatchObject.SHIP_FROM_LOCATION" id="shipmentFromLocation" name="shipmentFromLocationName" class="form-control fg-input fg-toggled" />
            </div>
        </div>
        <div class="form-group fg-float col-sm-6">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Customer Location</label>
                <input ng-model="dispatchObject.CUSTOMER_LOCATION" id="customerLocation" name="customerLocationName" class="form-control fg-input fg-toggled" />
            </div>
        </div>

        <div class="form-group fg-float col-sm-6">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Ship To Location</label>
                <input ng-model="dispatchObject.SHIP_TO_LOCATION" id="shipToLocation" name="shipToLocationName" class="form-control fg-input fg-toggled" />
            </div>
        </div>



        <div class="form-group fg-float col-sm-6 top-half-buffer">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Unloading Point</label>
                <input ng-model="dispatchObject.UNLOADING_POINT" id="unloadingPoint" name="unloadingPointName" class="form-control fg-input fg-toggled" />
            </div>
        </div>

        <div class="form-group fg-float col-sm-6 top-half-buffer">
            <div class="fg-line input-field fg-toggled">
                <label class="fg-label">Shipped Through</label>
                <input ng-model="dispatchObject.SHIPPED_THROUGH" id="shippedThrough" name="shippedThroughName" class="form-control fg-input fg-toggled" />
            </div>
        </div>

    </div>-->
                                    <!--<div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table tablesaw table-striped table-bordered table-hover">
                <thead>
                    <tr style="font-weight: bold">
                        <th class="text-center" width="45%">HSN Code</th>
                        <th class="text-center" width="5%">PO Qty</th>
                        <th class="text-center" width="5%">TOTAL.ASN.QTY</th>
                        <th class="text-center" width="5%">TOTAL.REC.QTY</th>
                        <th class="text-center" width="5%">TOTAL.RET.QTY</th>
                        <th class="text-center" width="10%">Asn Qty</th>
                        <th class="text-center" width="5%">Accepted Qty</th>
                        <th class="text-center" width="5%">Return Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dispatchTrackObject.poItemsEntity" ng-if="item.isCoreProductCategory > 0">
                        <td>{{item.productIDorName}}</td>
                        <td class="text-center">-->
                                    <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                    <!--<label>{{item.vendorPOQuantity}}</label>
    </td>

    <td class="text-center">-->
                                    <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                    <!--<label>{{item.sumDispatchQuantity}}</label>
    </td>
    <td class="text-center">-->
                                    <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                    <!--<label>{{item.sumRecivedQuantity}}</label>
    </td>
    <td class="text-center">-->
                                    <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                    <!--<label>{{item.sumReturnQuantity}}</label>
                        </td>
                        <td class="text-center">
                            <input ng-if="!isCustomer" ng-model="item.dispatchQuantity" ng-change="dispatchQuantityValidation();" class="form-control fg-input" />
                            <label ng-if="isCustomer">{{item.dispatchQuantity}}</label>
                            <small class="text-danger" ng-if="!isCustomer">{{item.dispatchErrormessage}}</small>
                        </td>
                        <td class="text-center">
                            <input ng-if="isCustomer" ng-model="item.recivedQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                            <label ng-if="!isCustomer">{{item.recivedQuantity}}</label>
                            <small class="text-danger" ng-if="isCustomer">{{item.receiveErrormessage}}</small>
                        </td>
                        <td class="text-center">
                            <input ng-if="isCustomer" ng-model="item.returnQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                            <label ng-if="!isCustomer">{{item.returnQuantity}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->


                                </div>
                            </div>

                        </div>

                        <div class="row" ng-if="isCustomer && 1==2">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <div class="row">

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Manufactured Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject.MANUFACTURED_DATE" format="DD-MM-YYYY">
                                                    <input ng-disabled="isCustomer" name="manufacDate" id="manufacDate" class="form-control" placeholder="" ng-model="dispatchObject.MANUFACTURED_DATE">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Best Before Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject.BEST_BEFORE_DATE" format="DD-MM-YYYY">
                                                    <input ng-disabled="isCustomer" name="bestBeforeDate" id="bestBeforeDate" class="form-control" placeholder="" ng-model="dispatchObject.BEST_BEFORE_DATE">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Total Weight & UOM</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.TOTAL_WEIGHT_DETAILS" id="totalWeight" name="totalWeightName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Total Volume & UOM</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.TOTAL_VOLUME_DETAILS" id="totalVolume" name="totalVolumeName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Freight Invoice No :</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.FREIGHT_INVOICE_NO" id="freightInvoice" name="freightInvoiceName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Freight Total Invoice Amount</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.FREIGHT_TOTAL_INVOICE_AMOUNT" id="freightTotalInvoice" name="freightTotalInvoiceName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Freight Tax(%)</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.FREIGHT_TAX" id="freightTax" name="freightTaxName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Invoice Number</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.INVOICE_NUMBER" id="invoiceNumber" name="invoiceNumberName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Invoice Amount</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject.INVOICE_AMOUNT" id="invoiceAmount" name="invoiceAmountName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="isCustomer && 1==2">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <!--<div class="card-header">
                            <h2>
                                Material Received
                                <small>
                                    <a title="Dispatch Receipt" target="_blank"
                                       ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                       href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                        MRR PDF
                                    </a>
                                </small>
                            </h2>
                        </div>-->

                                    <!--<div class="row text-center">
                                        <h2>
                                            Material Received
                                            <small>
                                                <a title="Dispatch Receipt" target="_blank"
                                                   ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                                   href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                                    ASN PDF
                                                </a>
                                            </small>
                                        </h2>
                                    </div>-->


                                    <div class="row">
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received Code</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject.RECEIVED_CODE" id="recivedCode" name="recivedCodeName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>
                                        <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedQuantity" id="recivedQuantity" name="recivedQuantityName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedQuantity</label>
                                </div>
                            </div>-->
                                        <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedDate" id="recivedDate" name="recivedDateName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedDate</label>
                                </div>
                            </div>-->



                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received By</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject.RECEIVED_BY" id="recivedBy" name="recivedByName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>


                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Received Comments</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject.RECEIVED_COMMENTS" id="recivedComments" name="recivedCommentsName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-md-6 ">
                                            <div class="fg-line fg-toggled">
                                                <div ng-disabled="!isCustomer" moment-picker="dispatchObject.RECEIVED_DATE" format="DD-MM-YYYY">
                                                    <label class="fg-label">Received Date</label>
                                                    <input ng-disabled="!isCustomer" name="recivedDate" id="recivedDate" class="form-control" placeholder="" ng-model="dispatchObject.RECEIVED_DATE">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body card-padding">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <span ng-if="isError" class="text-danger">Please Fill all the Mandatory Fields(*)</span><br />
                                        <span ng-if="isErrorWeightValidation" class="text-danger">Please enter Net Weight greater than 0 and less than Ack Qty</span><br />
                                        <span ng-if="isErrorWeightValidationRemaining" class="text-danger">Please enter Net Weight greater than 0 and less than Remaining Quantity</span><br />
                                        <span class="text-danger" ng-if="isErrorGrossWeightValidation">Please enter Gross Weight greater than 0</span>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button ng-if="isCustomer" ng-disabled="true" type="submit" ng-click="SaveDispatchTrack(dispatchObject)" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button ng-disabled="isExists" ng-if="!isCustomer && !dispatchObject[0].RECEIVED_CODE" type="submit" ng-click="SaveDispatchTrack(dispatchObject[0])" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button type="submit" ng-click="cancelPO()" class="btn btn-info btn-file m-r-10">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>



                </div>

                <div class="white-box" ng-if="serviceForm">
                    <form ng-submit="requirementForm.$valid" class="requirementForm" name="requirementForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <div class="row text-center">
                                        <h3>Service Completion Form</h3>
                                    </div>
                                    <!--<div class="card-header">
                            <h2>
                                Dispatch Tracking Form
                                <small>
                                    <a title="Dispatch Receipt" target="_blank"
                                       ng-if="dispatchTrackObject.dispatchLink > 0 && !userIsOwner"
                                       href="FileDownload.aspx?attachid={{dispatchTrackObject.dispatchLink}}&sessionid={{sessionID}}">
                                        Dispatch Receipt
                                    </a>
                                </small>
                            </h2>
                        </div>-->
                                    <!--<div class="card-body card-padding">-->
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Purchase Order No:</strong> {{poOrderId}}
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div ng-show="isCustomer">
                                            <div class="col-md-6">
                                                <strong>Service Code:</strong> {{dispatchObject.SERVICE_CODE}}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Servie Completion Date:</strong> {{dispatchObject.SERVICE_COMPLETION_DATE}}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Created By:</strong> {{dispatchObject.SERVICE_COMPLETED_DATE}}
                                            </div>

                                            <div class="col-md-6">
                                                <strong>Document Date:</strong> {{dispatchObject.SERVICE_DOCUMENT_DATE}}
                                            </div>

                                            <!--<div class="col-md-6">
                                    <strong>Customer Batch:</strong> {{dispatchTrackObject.customerBatch}}
                                </div>-->

                                        <div class="col-md-6">
                                            <strong>Customer Location:</strong> {{dispatchObject.SERVICE_CUSTOMER_LOCATION}}
                                        </div>


                                        <div class="col-md-6">
                                            <strong>Service Location:</strong> {{dispatchObject.SERVICE_LOCATION}}
                                        </div>

                                        <div class="col-md-6">
                                            <strong>Service By:</strong> {{dispatchObject.SERVICE_BY}}
                                        </div>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                    <br />
                                    <div class="row" ng-show="!isCustomer">
                                        <div class="top-buffer form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Service Code <label ng-if="isExists" class="text-danger"> ( Dispatch Code already exists ) </label></label>
                                                <input ng-model="dispatchObject[0].SERVICE_CODE" ng-change="CheckUniqueIfExists(dispatchObject[0].SERVICE_CODE,'DISPATCH_CODE')" id="dispatchCode" name="dispatchCodeName" class="form-control fg-input fg-toggled" />
                                            </div>

                                        </div>

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Service Completion Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject[0].SERVICE_COMPLETION_DATE" format="DD-MM-YYYY">
                                                    <input name="dispatchDate" id="dispatchDate" class="form-control" placeholder="" ng-model="dispatchObject[0].SERVICE_COMPLETION_DATE">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Completed Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchObject[0].SERVICE_COMPLETED_DATE" format="DD-MM-YYYY">
                                                    <input name="shipmentDate" id="shipmentDate" class="form-control" placeholder="" ng-model="dispatchObject[0].SERVICE_COMPLETED_DATE">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                            <label class="fg-label">Document Date</label>
                                            <div class="fg-line fg-toggled">
                                                <div ng-disabled="isCustomer" moment-picker="dispatchObject[0].SERVICE_DOCUMENT_DATE" format="DD-MM-YYYY">
                                                    <input name="documentDate" id="documentDate" class="form-control" placeholder="" ng-model="dispatchObject[0].SERVICE_DOCUMENT_DATE">
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Customer Batch</label>
                                    <input ng-model="dispatchTrackObject.customerBatch" id="customerBatch" name="customerBatchName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>-->


                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Customer Location</label>
                                                <input ng-model="dispatchObject[0].SERVICE_CUSTOMER_LOCATION" id="customerLocation" name="customerLocationName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>



                                        <div class="form-group fg-float col-sm-6 top-half-buffer">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Service Location</label>
                                                <input ng-model="dispatchObject[0].SERVICE_LOCATION" id="unloadingPoint" name="unloadingPointName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6 top-half-buffer">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Serviced By</label>
                                                <input ng-model="dispatchObject[0].SERVICE_BY" id="shippedThrough" name="shippedThroughName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                    </div>

                                    <!--<div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table tablesaw table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <th class="text-center" width="45%">Service Code</th>
                                                        <th class="text-center" width="5%">PO Qty</th>
                                                        <th class="text-center" width="5%">Value</th>
                                                        <th class="text-center" width="5%">Total Service No's</th>
                                                        <th class="text-center" width="10%"> Qty</th>

                                                        <th class="text-center" width="5%">Total Approved Qty</th>
                                                        <th class="text-center" width="5%">Rejected Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in dispatchTrackObject.poItemsEntity" ng-if="item.isCoreProductCategory > 0">
                                                        <td>{{item.productIDorName}}</td>
                                                        <td class="text-center">-->
                                                            <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                            <!--<label>{{item.vendorPOQuantity}}</label>
                                                        </td>

                                                        <td class="text-center">-->
                                                            <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                            <!--<label>{{item.sumDispatchQuantity}}</label>
                                                        </td>
                                                        <td class="text-center">-->
                                                            <!--<input ng-if="isCustomer" ng-model="item.poQuantity" class="form-control fg-input" />-->
                                                            <!--<label>{{item.sumRecivedQuantity}}</label>
                                                        </td>
                                                        <td class="text-center">
                                                            <input ng-if="!isCustomer" ng-model="item.dispatchQuantity" ng-change="dispatchQuantityValidation();" class="form-control fg-input" />
                                                            <label ng-if="isCustomer">{{item.dispatchQuantity}}</label>
                                                            <small class="text-danger" ng-if="!isCustomer">{{item.dispatchErrormessage}}</small>
                                                        </td>
                                                        <td class="text-center">
                                                            <input ng-if="isCustomer" ng-model="item.recivedQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                            <label ng-if="!isCustomer">{{item.recivedQuantity}}</label>
                                                            <small class="text-danger" ng-if="isCustomer">{{item.receiveErrormessage}}</small>
                                                        </td>
                                                        <td class="text-center">
                                                            <input ng-if="isCustomer" ng-model="item.returnQuantity" ng-change="receiveQuantityValidation();" class="form-control fg-input" />
                                                            <label ng-if="!isCustomer">{{item.returnQuantity}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>-->


                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <div class="row">

                                        <!--<div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                <label class="fg-label">Manufactured Date</label>
                                <div class="fg-line fg-toggled">
                                    <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchTrackObject.manufacDate" format="DD-MM-YYYY">
                                        <input ng-disabled="isCustomer" name="manufacDate" id="manufacDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.manufacDate">
                                    </div>
                                </div>
                            </div>

                            <div class="top-buffer form-group fg-float col-md-6 m-b-30">
                                <label class="fg-label">Best Before Date</label>
                                <div class="fg-line fg-toggled">
                                    <div autocomplete="off" ng-disabled="isCustomer" moment-picker="dispatchTrackObject.bestBeforeDate" format="DD-MM-YYYY">
                                        <input ng-disabled="isCustomer" name="bestBeforeDate" id="bestBeforeDate" class="form-control" placeholder="" ng-model="dispatchTrackObject.bestBeforeDate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Total Weight & UOM</label>
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.totalWeight" id="totalWeight" name="totalWeightName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Total Volume & UOM</label>
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.totalVolume" id="totalVolume" name="totalVolumeName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Freight Invoice No :</label>
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.freightInvoice" id="freightInvoice" name="freightInvoiceName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Freight Total Invoice Amount</label>
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.freightTotalInvoice" id="freightTotalInvoice" name="freightTotalInvoiceName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <label class="fg-label">Freight Tax(%)</label>
                                    <input ng-disabled="isCustomer" ng-model="dispatchTrackObject.freightTax" id="freightTax" name="freightTaxName" class="form-control fg-input fg-toggled" />
                                </div>
                            </div>-->

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Invoice Number</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject[0].INVOICE_NUMBER" id="invoiceNumber" name="invoiceNumberName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Invoice Amount</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject[0].INVOICE_AMOUNT" id="invoiceAmount" name="invoiceAmountName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Comments</label>
                                                <input ng-disabled="isCustomer" ng-model="dispatchObject[0].COMMENTS" id="invoiceAmount" name="invoiceAmountName" class="form-control fg-input fg-toggled" />
                                            </div>
                                        </div>
                                        <!--<div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">-->
                                                <!--<label class="fg-label">Upload</label>-->
                                                <!--<input ng-disabled="isCustomer" ng-model="dispatchTrackObject.invoiceAmount" id="invoiceAmount" name="invoiceAmountName" class="form-control fg-input fg-toggled" />-->
                                                <!--<button type="button" class="btn btn-info">Upload Invoice<i class="fa fa-upload" aria-hidden="true"></i></button>
                                            </div>
                                        </div>-->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <!--<div class="card-header">
                            <h2>
                                Material Received
                                <small>
                                    <a title="Dispatch Receipt" target="_blank"
                                       ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                       href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                        MRR PDF
                                    </a>
                                </small>
                            </h2>
                        </div>-->

                                    <!--<div class="row text-center">
                                        <h2>
                                            Service Acceptance Details
                                            <small>
                                                <a title="Dispatch Receipt" target="_blank"
                                                   ng-if="dispatchTrackObject.recivedLink > 0 && !userIsOwner"
                                                   href="FileDownload.aspx?attachid={{dispatchTrackObject.recivedLink}}&sessionid={{sessionID}}">
                                                    Service PDF
                                                </a>
                                            </small>
                                        </h2>
                                    </div>-->


                                    <div class="row">
                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">SEC Code</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject[0].RECEIVED_CODE" id="recivedCode" name="recivedCodeName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>
                                        <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedQuantity" id="recivedQuantity" name="recivedQuantityName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedQuantity</label>
                                </div>
                            </div>-->
                                        <!--<div class="form-group fg-float col-sm-6">
                                <div class="fg-line input-field fg-toggled">
                                    <input ng-disabled="!isCustomer" ng-model="dispatchTrackObject.recivedDate" id="recivedDate" name="recivedDateName" class="form-control fg-input fg-toggled" />
                                    <label class="fg-label">RecivedDate</label>
                                </div>
                            </div>-->

                                        s

                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Approved By</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject[0].RECEIVED_BY" id="recivedBy" name="recivedByName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>


                                        <div class="form-group fg-float col-sm-6">
                                            <div class="fg-line input-field fg-toggled">
                                                <label class="fg-label">Comments</label>
                                                <input ng-disabled="!isCustomer" ng-model="dispatchObject[0].RECEIVED_COMMENTS" id="recivedComments" name="recivedCommentsName" class="form-control fg-input fg-toggled" />

                                            </div>
                                        </div>

                                        <div class="form-group fg-float col-md-6 ">
                                            <div class="fg-line fg-toggled">
                                                <div ng-disabled="!isCustomer" moment-picker="dispatchObject[0].RECEIVED_DATE" format="DD-MM-YYYY">
                                                    <label class="fg-label">Approval Date</label>
                                                    <input ng-disabled="!isCustomer" name="recivedDate" id="recivedDate" class="form-control" placeholder="" ng-model="dispatchObject[0].RECEIVED_DATE">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body card-padding">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button ng-if="isCustomer" type="submit" ng-click="SaveDispatchTrack(dispatchObject)" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button ng-disabled="isExists" ng-if="!isCustomer && !dispatchObject[0].RECEIVED_CODE" type="submit" ng-click="SaveDispatchTrack(dispatchObject[0])" class="btn btn-info btn-file m-r-10">Save</button>
                                        <button type="submit" ng-click="cancelPO()" class="btn btn-info btn-file m-r-10">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>



                </div>
            </div>

        </div>


    </div>

</div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>