<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div>

                    <h4>Invoice Aging</h4>

                    <div class="white-box">
                        <div class="pmb-block ng-scope" ng-controller="invoiceagingCtrl">
                            <div class="pmbb-header">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-control white-box">

                                        <h4 class="text-center" style="margin-top:-10px;">Total Payments ::  {{MyPendingInvoices[0].totalPayments}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-control white-box">

                                        <h4 class="text-center" style="margin-top:-10px;">No.of Pending Invoices ::  {{pendingInvoices.length}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Pending Amount ::  {{pendingAmount}}</h4>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Invoice Counts ::  {{allInvoices.length}}</h4>
                                    </div>
                                </div> <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Scheduled Payments ::  {{scheduledPayments}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Aging</strong></h5>
                                    <select ng-model="agingStatus" ng-change="setFilters()" class="form-control" style="margin:5px">
                                        <option selected value=''>All</option>
                                        <option value='<10'>10 days</option>
                                        <option value='10-20'>10-20 days</option>
                                        <option value='20-45'>20-45 days</option>
                                        <option value='>45'>>45 days</option>

                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Category </strong></h5>
                                    <!--<select ng-model="categoryStatus" ng-change="setFilters()" class="form-control" style="margin:5px">
                                        <option selected value=''>All</option>
                                        <option ng-repeat="cat in categories" value="{{cat}}">{{cat}}</option>


                                    </select>-->

                                <select class="form-control" ng-model="filters.categoryStatus" ng-options="filter.name as filter.name for filter in catArr"
                                        ng-change="setFilters()">
                                   
                                    <option selected value="">All</option>
                                </select>

                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Department </strong></h5>
                                    <!--<select ng-model="departmentStatus" ng-change="setFilters()" class="form-control" style="margin:5px">
                                        <option selected value=''>All</option>
                                        <option ng-repeat="dept in departments" value="{{dept}}">{{dept}}</option>


                                    </select>-->

                                    <select class="form-control" ng-model="filters.departmentStatus" ng-options="filter.name as filter.name for filter in deptArr"
                                            ng-change="setFilters()">
                                       
                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Item Name</strong></h5>
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="table table-responsive z-depth-2" ng-if="!isVendor">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in MyPendingInvoices.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td data-title="'Purchase Order ID'" sortable="'ID'">
                                            {{ wf.poOrderId}}
                                        </td>
                                        <td data-title="'PR Number'" sortable="'ID'">
                                            {{ wf.pr_number}}
                                        </td>
                                        <td data-title="'Payment Code'" sortable="'ID'">
                                            {{ wf.paymentCode}}
                                        </td>

                                        <td data-title="'Invoice Amount'" sortable="'ID'">
                                            {{ wf.invoiceAmount}}
                                        </td>
                                        <td data-title="'Payment Amount'" sortable="'ID'">
                                            {{ wf.paymentAmount}}
                                        </td>
                                        <td data-title="'Pending Amount'" sortable="'ID'">
                                            {{ wf.pendingAmount}}
                                        </td>
                                        <td data-title="'Invoice Date'" sortable="'ID'">
                                            {{ wf.invoiceDate}}
                                        </td>
                                        <td data-title="'Invoice Number'" sortable="'ID'">
                                            {{ wf.invoiceNumber }}
                                        </td>
                                        <td data-title="'Received Date'" sortable="'ID'">
                                            {{ wf.receivedDate }}
                                        </td>
                                        <!--<td data-title="'Payment Due Date'" sortable="'ID'">
       wf.paymentDate
    </td>
     <td data-title="'ASN Code'" sortable="'ID'">
        wf.dispatchCode
    </td>-->
                                        <td data-title="'Agging Days Post Receipt'" sortable="'ID'">
                                            {{ wf.aggingDays }}
                                        </td>
                                        <td data-title="'Item Name'" sortable="'ID'">
                                            {{ wf.itemName }}
                                        </td>

                                        <td data-title="'Category'" sortable="'ID'">
                                            {{ wf.category }}
                                        </td>
                                        <td data-title="'Department'" sortable="'ID'">
                                            {{ wf.department }}
                                        </td>

                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>