﻿<div class="col-xs-12 white-box" ng-controller="RegistrationSettingsController as _regSettingsCtrl">

    <div class="box-title row">
        <div class="col-md-6 pull-left">
            <a class="btn" href="#/pages/profile/new-vendor" style="display:inline-block;margin-right:15px;"><i class="fas fa-arrow-left"></i></a>
            <h3 style="display:inline-block;margin-right:15px;">Registration configuration</h3>
        </div>

        <div class="col-md-6 pull-right ng-scope">
            <button class="btn btn-primary pull-right" ng-click="_regSettingsCtrl.addField()">Add Field</button>
        </div>
    </div>
    <div class="row" ng-init="_regSettingsCtrl.getFields()">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
                <ul id="fieldList"
                    class="list-group col-md-12 reg-field-list" ng-model="_regSettingsCtrl.FieldList">
                    <li class="list-group-item" ng-repeat="item in _regSettingsCtrl.FieldList" style="background-color:#f1f1f1;margin-bottom:10px">
                        <!--<span>
                            <i class="fa fa-bars"></i>
                        </span>-->
                        <span>
                            {{item.DisplayName}}
                        </span>
                        <span class="pull-right">
                            <span class="text-primary" ng-click="_regSettingsCtrl.editField(item)"><i class="fa fa-edit"></i></span>
                            <span class="text-danger" ng-click="_regSettingsCtrl.deleteField(item,$index)" ng-if="!item.SystemField" style="margin-left:15px"><i class="fa fa-trash"></i></span>

                        </span>
                    </li>
                    <li class="list-group-item text-center" ng-if="_regSettingsCtrl.FieldList.length == 0">
                        <h1>
                            <i class="fa fa-database"></i>
                        </h1>
                        <p>
                            No addition field available
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="RegistrationSettingModal.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="!_modalCtrl.options.editMode" id="modal-title">Add Field</h3>
        <h3 class="modal-title" ng-if="_modalCtrl.options.editMode" id="modal-title">Edit Field</h3>

    </div>
    <div class="modal-body" id="modal-body">
        <form novalidate name="RegFieldCreateOrUpdate">
            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Name</label>
                </div>
                <div class="col-xs-12">
                    <input type="text" name="Name" autofocus required ng-disabled="_modalCtrl.options.editMode" ng-model="_modalCtrl.Model.Name" class="form-control" />
                    <div ng-messages="RegFieldCreateOrUpdate.Name.$error && RegFieldCreateOrUpdate.$submitted" role="alert">
                        <div ng-message="required">Field name is required</div>

                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Display name</label>
                </div>
                <div class="col-xs-12 ">
                    <input type="text" name="DisplayName" required ng-model="_modalCtrl.Model.DisplayName" class="form-control" />
                    <div ng-messages="RegFieldCreateOrUpdate.DisplayName.$error && RegFieldCreateOrUpdate.$submitted" role="alert">
                        <div ng-message="required">Display name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Type</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" required ng-disabled="_modalCtrl.Model.SystemField || _modalCtrl.options.editMode" name="Type" ng-model="_modalCtrl.Model.Type">
                        <option value="">-- select type ---</option>

                        <option value="{{iem}}" ng-repeat="iem in  _modalCtrl.TypeList">{{iem}}</option>
                    </select>
                    <div ng-messages="RegFieldCreateOrUpdate.Type.$error" role="alert">
                        <div ng-message="required">Display name is required</div>

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Score</label>
                </div>
                <div class="col-xs-12">
                    <input type="number" name="Score" ng-model="_modalCtrl.Model.Score" class="form-control" />

                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Display order</label>
                </div>
                <div class="col-xs-12">
                    <input type="number" name="DisplayOrder" ng-model="_modalCtrl.Model.DisplayOrder" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Required</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" name="Required" ng-model="_modalCtrl.Model.Required" value="true" />

                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label class="form-control-label">Allow Attachment</label>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" checked name="AllowAttachment" ng-model="_modalCtrl.Model.AllowAttachment" value="true" />

                </div>
            </div>
            <div class="form-group row text-right">
                <button class="btn btn-primary" type="button" ng-if="!_modalCtrl.options.editMode" ng-click="_modalCtrl.Create(RegFieldCreateOrUpdate)">Create</button>
                <button class="btn btn-primary" type="button" ng-if="_modalCtrl.options.editMode" ng-click="_modalCtrl.Update(RegFieldCreateOrUpdate)">Update</button>
                <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
            </div>
        </form>
    </div>

</script>