<header id="header"  data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="dispatchTrackCtrl">
            <form ng-submit="requirementForm.$valid && saveDescPoInfo()" class="requirementForm" name="requirementForm" novalidate>
                <div class="card">
                    <div class="card-header row">

                        <div class="col-md-12">
                            <h2>Dispatch Tracking History</h2>
                        </div>

                    </div>

                    

                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-md-12">
                                <strong>Requirement:</strong> {{dispatchTrack[0].vendorPOObject.req.title}}
                            </div>

                            <div class="col-md-4">
                                <strong>PO Number:</strong> {{dispatchTrack[0].purchaseID}}
                            </div>
                            <div class="col-md-4" ng-if="isCustomer">
                                <strong>Vendor:</strong> {{dispatchTrack[0].vendorPOObject.vendor.firstName}} {{dispatchTrack[0].vendorPOObject.vendor.lastName}}
                            </div>
                        </div>
                        <br/>
                        <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">                                    
                                    <td style="width:15%">Dispatch Code</td>
                                    <td style="width:15%">Tracking ID</td>
                                    <td style="width:15%">Dispatch Date</td>
                                    <td style="width:15%">Received Date</td>
                                    <td style="width:15%">Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dispatch in dispatchTrack">
                                    <td>{{dispatch.dispatchCode}}</td>
                                    <td>{{dispatch.deliveryTrackID}}</td>
                                    <td>{{dispatch.dispatchDate}}</td>
                                    <td>{{dispatch.recivedDate}}</td>                                                                                                           
                                    <td>
                                        <a ng-if="!isCustomer && dispatch.dTID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.poID, dispatch.dTID)" class="tm-icon zmdi-hc-2x zmdi zmdi-edit" style="width:30px; height:30px"></a>
                                        <a ng-if="isCustomer && dispatch.dTID > 0" title="Accept Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.poID, dispatch.dTID)" class="tm-icon zmdi-hc-2x zmdi zmdi-file-text" style="width:30px; height:30px"></a>
                                        <!--<a ng-if="isCustomer && dispatch.recivedBy" title="Make Payment" role="button" class="" style="width:30px; height:30px">Make Payment</a>-->



                                        <!--<a ng-if="isCustomer" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.poItemsEntity.poID, dispatch.dTID)" data-target="#loginmodal" data-toggle="modal" class="tm-icon zmdi-hc-2x zmdi zmdi-file-text" style="width:30px; height:30px"></a>
                                        <a ng-if="!isCustomer" title="New Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(dispatch.poItemsEntity.poID, 0)" data-target="#loginmodal" data-toggle="modal" class="tm-icon zmdi-hc-2x zmdi zmdi-truck" style="width:30px; height:30px"></a>-->
                                    </td>
                            </tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>