﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div data-ng-controller="sapHomeCtrl">                    
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-4">
                            Status: <strong>{{tileFilter}} </strong>| Month: <strong>{{selectedMonth}}</strong> | &nbsp;&nbsp;&nbsp; <strong>Last data upload: {{lastUpdatedDate}}</strong>
                            <button ng-if="showDetailedView" ng-click="back();" class="pull-right btn btn-sm btn-info">back</button>
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-model="serchString" ng-change="SearchPOData(serchString);" class="form-control" placeholder="Global Search" />
                        </div>
                        <div class="col-md-2" style="max-height:200px; overflow-y:auto;">
                            <select ng-disabled="showDetailedView" ng-model="filterModelPlant" class="form-control" ng-change="filterPlanDataNew(filterModelPlant);">
                                <option value='0' selected>ALL PLANTS</option>
                                <option value='1001'>KARKHADI</option>
                                <option value='1002'>PANOLI</option>
                                <option value='1003'>MADHURANGATHAM</option>
                                <option value='1004'>AHMEDNAGAR</option>
                                <option value='1005'>ANKLESHWAR</option>
                                <option value='1006'>DAHEJ</option>
                                <option value='1010'>TOANSA</option>
                                <option value='1020'>DEWAS</option>
                                <option value='1070'>MALANPUR</option>
                                <option value='1501'>PARABOLIC</option>
                                <option value='1502'>SAURAV</option>
                                <option value='1503'>MAGMA</option>
                                <option value='1504'>ALLYCHEM</option>
                                <option value='1505'>COVALENT</option>
                                <option value='1506'>LANTECH</option>
                                <option value='4235'>BHIWANDI</option>
                                <option value='3000'>R&D BARODA</option>
                                <option value='3001'>R&D GURUGOAN</option>
                                <option value='3016'>TOANSA(PILOT)</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select ng-model="filterModelPurchaseUser" ng-change="filterPurchaser();" name="accessType" id="accessType" class="form-control" ng-options="accessType.objectID as accessType.message for accessType in accessTypes"></select>
                            <!--<select ng-model="filterModelPurchaseUser" class="form-control" ng-change="filterGraph();">
                                    <option selected value="0">ALL (PURCHASER USERS)</option>
                                    <option value='200'>JB</option>
                                    <option value='201'>SD</option>
                                    <option value='202'>AS</option>
                                    <option value='203'>SC</option>
                                    <option value='219'>SB</option>
                                    <option value='220'>DP</option>
                                </select>-->
                        </div>
                        <div class="col-md-2">
                            <select ng-model="filterModelExclusion" class="form-control" ng-change="filterExclusionList();">
                                <option selected value="0">WITH EXCLUSION</option>
                                <option value="1">WITHOUT EXCLUSION</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top:5px;" ng-show="!showDetailedView">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box" style="cursor:pointer;" ng-click="setTileFilterValue('DELIVERY MISSED')">
                                <h3 class="box-title"><p class="text-danger">Delivery Missed  <strong> {{deliveryMissed}}</strong></p></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box" style="cursor:pointer;" ng-click="setTileFilterValue('DELIVERY ALERT')">
                                <h3 class="box-title"><p class="text-warning">Delivery Alert <strong> {{deliveryAlert}}</strong></p></h3>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box" style="cursor:pointer;" ng-click="setTileFilterValue('TIME AVAILABLE')">
                                <h3 class="box-title"><p class="text-success">Time Available <strong> {{timeAvailable}}</strong></p></h3>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box" style="cursor:pointer;" ng-click="setTileFilterValue('DELIVERED')">
                                <h3 class="box-title"><p class="text-success">Delivered <strong> {{delivered}}</strong></p></h3>
                            </div>
                        </div>
                    </div>
                    <div ng-show="displayDetails">
                        <div ng-show="!showDetailedView">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="container" style="min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>

                            <div class="row" style="margin:0px !important;" ng-hide="true">
                                <div class="col-md-12" style="max-height:200px; overflow-y:auto;">
                                    <table class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th style="width:50%"><strong>Month</strong></th>
                                                <th style="width:50%"><strong>PO Count</strong></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <div class="row" style="margin:0px !important;" ng-hide="true">
                                <div class="col-md-12" style="max-height:200px; overflow-y:auto;">
                                    <div class="white-box" style="padding:0px !important; margin-bottom:0px !important">
                                        <table class="table table-striped table-vmiddle">
                                            <tbody>
                                                <tr ng-repeat="(key, value) in monthWiseReport" style="cursor:pointer;" ng-click="getFilteredOpenPoData(key)">
                                                    <td style="width:50%"><h3 class="box-title"> <strong> {{key}}</strong></h3>  </td>
                                                    <td style="width:50%"><h3 class="box-title"><strong> {{value}}</strong></h3>  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-info btn-sm" ng-click="exportItemsToExcelBasedOnFilterValue(tileFilter)">Export</button>
                                </div>
                            </div>

                        </div>
                            <div class="row" ng-show="showDetailedView">
                                <div class="col-md-12">
                                    <div class="pmb-block" st-table="openPOArr" st-safe-src="openPOArrForSortig" style="margin-top:5px">
                                        <div class="pmbb-header">
                                            <div class="row" style="margin-bottom:5px;">

                                                <div ng-show="showDetailedView">
                                                    <div class="col-md-2">
                                                        <input style="width:auto;" type="text" st-search="" placeholder="Search" class="form-control" />
                                                    </div>
                                                    <div ng-hide="true" class="col-md-3" style="max-height:200px; overflow-y:auto;">
                                                        <select ng-model="filterModelPlant" class="form-control" ng-change="filterPlanData(filterModelPlant);">
                                                            <option selected value="0">ALL PLANTS</option>
                                                            <option value='1001'>KARKHADI</option>
                                                            <option value='1002'>PANOLI</option>
                                                            <option value='1003'>MADHURANGATHAM</option>
                                                            <option value='1004'>AHMEDNAGAR</option>
                                                            <option value='1005'>ANKLESHWAR</option>
                                                            <option value='1006'>DAHEJ</option>
                                                            <option value='1010'>TOANSA</option>
                                                            <option value='1020'>DEWAS</option>
                                                            <option value='1070'>MALANPUR</option>
                                                            <option value='1501'>PARABOLIC</option>
                                                            <option value='1502'>SAURAV</option>
                                                            <option value='1503'>MAGMA</option>
                                                            <option value='1504'>ALLYCHEM</option>
                                                            <option value='1505'>COVALENT</option>
                                                            <option value='1506'>LANTECH</option>
                                                            <option value='4235'>BHIWANDI</option>
                                                            <option value='3000'>R&D BARODA</option>
                                                            <option value='3001'>R&D GURUGOAN</option>
                                                            <option value='3016'>TOANSA(PILOT)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label ng-if="!openPOArrGlobalSearchResults">Total Count: {{openPOArr.length}}</label>
                                                        <label ng-if="openPOArrGlobalSearchResults">Total Count: {{openPOArrGlobalSearchResults.length}}</label>                                                        
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-info btn-sm" ng-click="exportItemsToExcel()">Export</button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <!--<button type="button" class="btn btn-info btn-sm" ng-click="sapReport()">Shortage Report</button>-->
                                                    </div>
                                                </div>

                                            </div>





                                            <div class="row">
                                                <div class="col-md-4 pull-left text-left">
                                                    <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'TOP')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                                                </div>
                                                <div class="col-md-4 center-block text-center">
                                                    <!--<button ng-click="scrollWin('S')">S</button>-->
                                                </div>
                                                <div class="col-md-4 pull-right text-right">
                                                    <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'TOP')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                                                </div>
                                            </div>
                                            <div class="table-responsive z-depth-2" double-scroll-bar-horizontal>


                                                <br />

                                                <table class="table table-striped table-vmiddle" show-filter="false" st-filtered-collection>
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width:110px;max-width:110px;" id="A"><strong>LP</strong></th>
                                                            <th st-sort="PLANT_NAME" style="min-width:110px;max-width:110px;"><strong>Plant</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong st-sort="MATERIAL">MATERIAL</strong></th>
                                                            <th style="min-width:210px;max-width:210px;"><strong>DESCRIPTION</strong></th>
                                                            <th style="min-width:170px;max-width:170px;"><strong>API</strong></th>
                                                            <th style="min-width:170px;max-width:170px;"><strong>SUPPLIER</strong></th>
                                                            <th style="min-width:100px;max-width:100px;"><strong>PR DATE</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>PO DATE</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>PR Delivery Date</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>Ideal Delivery Date</strong></th>
                                                            <th style="min-width:50px;max-width:50px;"><strong>ORDER UNIT</strong></th>
                                                            <th style="min-width:100px;max-width:100px;"><strong>PR Qty</strong></th>
                                                            <th style="min-width:100px;max-width:100px;"><strong>PO Qty</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong>Open Qty</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>PR Number</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>PR LN</strong></th>
                                                            <th st-sort="PURCHASING_DOCUMENT" style="min-width:110px;max-width:110px;"><strong>PO Number</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong>PO LINE ITEM</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>PO Creator</strong></th>
                                                            <th style="min-width:110px;max-width:110px;"><strong>Multiple PR</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong>Supp. Country</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong>Lead Time</strong></th>
                                                            <th style="min-width:90px;max-width:90px;"><strong>Category</strong></th>
                                                            <th style="min-width:200px;max-width:200px;"><strong>STATUS</strong></th>
                                                            <th style="min-width:110px;max-width:110px;" id="Z"><strong>Remarks</strong></th>
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>PURCHASER GRP</strong></th>-->
                                                            <!--<th style="min-width:100px;max-width:100px;"><strong>PR DATE</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>PO DATE</strong></th>-->
                                                            <!--<th style="min-width:50px;max-width:50px;"><strong>ORDER UNIT</strong></th>-->
                                                            <!--<th style="min-width:100px;max-width:100px;"><strong>ORDER QUANTITY</strong></th>
    <th style="min-width:90px;max-width:90px;"><strong>Still to be delivered (qty)</strong></th>
    <th style="min-width:110px;max-width:110px;"><strong>PR Number</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>Multiple PR</strong></th>
    <th st-sort="PURCHASING_DOCUMENT" style="min-width:110px;max-width:110px;"><strong>PO Number</strong></th>
    <th style="min-width:110px;max-width:110px;"><strong>PO Creator</strong></th>-->
                                                            <!--<th style="min-width:170px;max-width:170px;"><strong>Name of Supplier</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>PR Delivery Date</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>PO Delivery Date</strong></th>
    <th style="min-width:90px;max-width:90px;"><strong>Import/Local</strong></th>
    <th style="min-width:90px;max-width:90px;"><strong>Lead Time</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>Ideal Delivery Date</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;"><strong>Shortage / Delay Comments</strong></th>
    <th style="min-width:110px;max-width:110px;" id="Z"><strong>Purchase Remarks</strong></th>-->
                                                            <!--<th style="min-width:110px;max-width:110px;" id="Z"><strong>Remarks</strong></th>-->


                                                        </tr>
                                                    </thead>
                                                </table>



                                                <div style="max-height:500px;max-width:2860px;min-width:2860px;overflow-y:auto" ng-show="serchString == ''">
                                                    <table style="word-wrap: break-word;">
                                                        <tr ng-repeat-start="item in openPOArr.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                                                            class="text-left">
                                                            <td style="min-width:110px;max-width:110px;">{{item.PURCHASER}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PLANT_NAME}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.MATERIAL}} </td>
                                                            <td style="min-width:210px;max-width:210px;">{{item.SHORT_TEXT}} </td>
                                                            <td style="min-width:170px;max-width:170px;">{{item.API_NAME}} </td>
                                                            <td style="min-width:170px;max-width:170px;">{{item.NAME_OF_SUPPLIER}} </td>
                                                            <td style="min-width:100px;max-width:100px;">{{item.PR_CREATE_DATE1}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PO_DATE1}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_DELV_DATE1}}</td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.IDEAL_DELIVERY_DATE1}} </td>
                                                            <td style="min-width:50px;max-width:50px;">{{item.ORDER_UNIT}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_QUAN}} </td>
                                                            <td style="min-width:100px;max-width:100px;">{{item.ORDER_QUANTITY | number : '0'}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.STILL_TO_BE_DELIVERED_QTY | number : '0'}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_NUMBER}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_ITM_NO}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PURCHASING_DOCUMENT}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.ITEM}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.USER_ID}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.MULTIPLE_PR_TEXT}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.IMPORT_LOCAL}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.LEAD_TIME}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.CATEGORY}}</td>
                                                            <td style="min-width:200px;max-width:200px;">
                                                                <select ng-model="item.NWSTATUS" ng-disabled="!isUserEntitled(591188)" title="{{item.NWSTATUS}}" ng-style="{'background-color':item.color}" style="width: 200px" class="form-control" ng-change="updateStatus(item,item.NWSTATUS,$index);">
                                                                    <option value=''>Select</option>
                                                                    <option value='REVIEW PENDING' style="background-color:orangered">Review Pending</option>
                                                                    <option value='REVIEWED BUT ACTION PENDING' style="background-color:yellow">Reviewed But Action Pending</option>
                                                                    <option value='REVIEWED AND ACTION TAKEN' style="background-color:greenyellow">Reviewed And Action Taken</option>
                                                                </select>
                                                                <!--<label ng-show="save"><button type="button" class="btn btn-sm" ng-click="updateStatus(item,status)">save</button></label>-->
                                                            </td>
                                                            <td style="min-width:110px;max-width:110px;" data-title="''">
                                                                <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item,'')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
                                                            </td>

                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PURCHASER}} </td>-->
                                                            <!--<td style="min-width:100px;max-width:100px;">{{item.PR_CREATE_DATE1}} </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PO_DATE1}} </td>-->
                                                            <!--<td style="min-width:50px;max-width:50px;">{{item.ORDER_UNIT}} </td>
    <td style="min-width:100px;max-width:100px;">{{item.ORDER_QUANTITY | number : '0'}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.STILL_TO_BE_DELIVERED_QTY | number : '0'}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.PR_NUMBER}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.MULTIPLE_PR_TEXT}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.PURCHASING_DOCUMENT}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.USER_ID}} </td>-->
                                                            <!--<td style="min-width:170px;max-width:170px;">{{item.NAME_OF_SUPPLIER}} </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PR_DELV_DATE1}}</td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PO_DELV_DATE1}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.IMPORT_LOCAL}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.LEAD_TIME}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.IDEAL_DELIVERY_DATE1}} </td>
    <td style="min-width:110px;max-width:110px;" data-title="''">
        <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item, 'SHORTAGE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>

    <td style="min-width:110px;max-width:110px;" data-title="''">
        <a role="button" data-target="#poItemDetails2" data-toggle="modal" ng-click="showComments(item, 'PURCHASE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;" data-title="''">
            <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item, '')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>-->


                                                        </tr>
                                                        <tr ng-repeat-end ng-if="item.expanded" class="text-left">
                                                            <td colspan="26">
                                                                <table class="table" style="background-color:lightgoldenrodyellow;">
                                                                    <tr ng-repeat="item1 in openChildPOArr">
                                                                        <td style="min-width:110px;max-width:110px;"></td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PURCHASER}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PLANT_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_NUMBER}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_ITM_NO}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_CREATE_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.MATERIAL}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.MAT_DESCRIPTION}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.API_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.QUANTITY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.UOM}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.LEAD_TIME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_DT}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_DELV_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_NO}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_ITEM_TEXT}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_QTY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDOR}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDOR_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDORS_COUNTRY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_TYPE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.USER_ID}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">-</td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_QTY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.QUANTITY - item.GRN_QTY}} </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>




                                                <div style="max-height:500px;max-width:2860px;min-width:2860px;overflow-y:auto" ng-show="serchString != ''">
                                                    <table style="word-wrap: break-word;">
                                                        <tr ng-repeat-start="item in openPOArrGlobalSearchResults.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                                                            class="text-left">

                                                            <td style="min-width:110px;max-width:110px;">{{item.PURCHASER}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PLANT_NAME}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.MATERIAL}} </td>
                                                            <td style="min-width:210px;max-width:210px;">{{item.SHORT_TEXT}} </td>
                                                            <td style="min-width:170px;max-width:170px;">{{item.API_NAME}} </td>
                                                            <td style="min-width:170px;max-width:170px;">{{item.NAME_OF_SUPPLIER}} </td>
                                                            <td style="min-width:100px;max-width:100px;">{{item.PR_CREATE_DATE1}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PO_DATE1}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_DELV_DATE1}}</td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.IDEAL_DELIVERY_DATE1}} </td>
                                                            <td style="min-width:50px;max-width:50px;">{{item.ORDER_UNIT}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_QUAN}} </td>
                                                            <td style="min-width:100px;max-width:100px;">{{item.ORDER_QUANTITY | number : '0'}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.STILL_TO_BE_DELIVERED_QTY | number : '0'}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_NUMBER}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PR_ITM_NO}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.PURCHASING_DOCUMENT}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.ITEM}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.USER_ID}} </td>
                                                            <td style="min-width:110px;max-width:110px;">{{item.MULTIPLE_PR_TEXT}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.IMPORT_LOCAL}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.LEAD_TIME}} </td>
                                                            <td style="min-width:90px;max-width:90px;">{{item.CATEGORY}}</td>
                                                            <td style="min-width:200px;max-width:200px;">
                                                                <select ng-model="item.NWSTATUS" ng-disabled="!isUserEntitled(591188)" title="{{item.NWSTATUS}}" ng-style="{'background-color':item.color}" class="form-control" ng-change="updateStatus(item,item.NWSTATUS);">
                                                                    <option value='' selected>Select</option>
                                                                    <option value='REVIEW PENDING' style="background-color:orangered">Review Pending</option>
                                                                    <option value='REVIEWED BUT ACTION PENDING' style="background-color:yellow">Reviewed But Action Pending</option>
                                                                    <option value='REVIEWED AND ACTION TAKEN' style="background-color:greenyellow">Reviewed And Action Taken</option>
                                                                </select>
                                                                <!--<label ng-show="save"><button type="button" class="btn btn-sm" ng-click="updateStatus(item,status)">save</button></label>-->
                                                            </td>
                                                            <td style="min-width:110px;max-width:110px;" data-title="''">
                                                                <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item,'')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
                                                            </td>

                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PURCHASER}} </td>-->
                                                            <!--<td style="min-width:100px;max-width:100px;">{{item.PR_CREATE_DATE1}} </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PO_DATE1}} </td>-->
                                                            <!--<td style="min-width:50px;max-width:50px;">{{item.ORDER_UNIT}} </td>
    <td style="min-width:100px;max-width:100px;">{{item.ORDER_QUANTITY | number : '0'}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.STILL_TO_BE_DELIVERED_QTY | number : '0'}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.PR_NUMBER}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.MULTIPLE_PR_TEXT}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.PURCHASING_DOCUMENT}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.USER_ID}} </td>-->
                                                            <!--<td style="min-width:170px;max-width:170px;">{{item.NAME_OF_SUPPLIER}} </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PR_DELV_DATE1}}</td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;">{{item.PO_DELV_DATE1}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.IMPORT_LOCAL}} </td>
    <td style="min-width:90px;max-width:90px;">{{item.LEAD_TIME}} </td>
    <td style="min-width:110px;max-width:110px;">{{item.IDEAL_DELIVERY_DATE1}} </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;" data-title="''">
        <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item, 'SHORTAGE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>

    <td style="min-width:110px;max-width:110px;" data-title="''">
        <a role="button" data-target="#poItemDetails2" data-toggle="modal" ng-click="showComments(item, 'PURCHASE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>-->
                                                            <!--<td style="min-width:110px;max-width:110px;" data-title="''">
        <a role="button" data-target="#poItemDetails" data-toggle="modal" ng-click="showComments(item,'')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
    </td>-->


                                                        </tr>
                                                        <tr ng-repeat-end ng-if="item.expanded" class="text-left">
                                                            <td colspan="26">
                                                                <table class="table" style="background-color:lightgoldenrodyellow;">
                                                                    <tr ng-repeat="item1 in openChildPOArr">
                                                                        <td style="min-width:110px;max-width:110px;"></td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PURCHASER}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PLANT_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_NUMBER}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_ITM_NO}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PR_CREATE_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.MATERIAL}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.MAT_DESCRIPTION}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.API_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.QUANTITY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.UOM}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.LEAD_TIME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_DT}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_DELV_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_DATE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_NO}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_ITEM_TEXT}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_QTY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDOR}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDOR_NAME}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.VENDORS_COUNTRY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.PO_TYPE}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.USER_ID}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">-</td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.GRN_QTY}} </td>
                                                                        <td style="min-width:110px;max-width:110px;">{{item1.QUANTITY - item.GRN_QTY}} </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 pull-left text-left">
                                                    <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                                                </div>
                                                <div class="col-md-4 center-block text-center">
                                                </div>
                                                <div class="col-md-4 pull-right text-right">
                                                    <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="pull-right">
                        <div class="modal" id="poItemDetails" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" ng-click="clearForm();" >&times;</button>
                                        <h4 class="modal-title">Remark  Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">
                                            <!--<select ng-model="commentType" class="form-control" ng-change="commentTYpeChange(commentType);">
        <option value='SHORTAGE' selected>Shortage Comments</option>
        <option value='DELIVERY'>Delay Comments</option>
        <option value='PURCHASE'>Purchase Comments</option>
    </select>
    <br />-->
                                            <!--<div ng-show="commentType == 'SHORTAGE'">Shortage Quantity <input type="text" class="form-control" placeholder="Quantity" ng-model="poquantity" /></div>-->
                                            <label>Category</label>
                                            <select ng-model="category" class="form-control">
                                                <option value='PO to be Closed' selected>PO to be Closed</option>
                                                <option value='On hold by Plant'>On hold by Plant</option>
                                                <!--<option value='SOLVENT PR'>Solvent PR</option>-->
                                                <option value='Strategic buying PO'>Strategic buying PO</option>
                                                <option value='Delay (GRN Pending, License, RA Issue)'>Delay (GRN Pending, License, RA Issue)</option>
                                                <!-- <option value='OTHERS'>Others</option> -->
                                            </select>
                                            <br />
                                            <div ng-show="categoryValidation">
                                                <div class="help-block error logininput text-danger" ng-show="categoryValidation">Please Select Category</div>
                                            </div>
                                            <label>New Delivery Date</label>
                                            <div moment-picker="newdeliverdate" format="DD-MM-YYYY" min-date="minDateMoment">
                                                <input name="newdeliverdate" id="newdeliverdate" class="form-control" placeholder="" ng-model="newdeliverdate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                             <div ng-show="newdeliverdateValidation">
                                                <div class="help-block error logininput text-danger" ng-show="newdeliverdateValidation">Please enter valid New Delivery Date</div>
                                            </div>
                                            <br />
                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <div ng-if="errorMessage && errorMessage != ''" style="color:red;">{{errorMessage}}</div><br />
                                            <button ng-disabled="pocomments == '' || pocomments == null || pocomments == undefined" ng-show="commentType == 'SHORTAGE'" type="button" class="btn btn-info" ng-click="savePoComments('',category)">Save</button>
                                            <!--<button ng-show="commentType != 'SHORTAGE' && commentType != 'PURCHASE'" type="button" class="btn btn-info" ng-click="savePoComments('DELIVERY')">Save</button>
                                            <button ng-show="commentType != 'SHORTAGE' && commentType != 'DELIVERY'" type="button" class="btn btn-info" ng-click="savePoComments('PURCHASE')">Save</button>-->
                                            <br />
                                        </div>
                                        <br />
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <td style="width:10%">Date</td>
                                                        <!--<td style="width:10%"> Remarks Type</td>-->
                                                        <td style="width:10%"> Category</td>
                                                        <td style="width:20%">New Delivery Date</td>
                                                        <td style="width:50%">Comments</td>
                                                        <td style="width:10%">User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="podetail in poitemcomments">
                                                        <td>{{podetail.errorMessage}}</td>
                                                        <!--<td>{{podetail.objectID}}</td>-->
                                                        <!--<td>{{podetail.remarksType}}</td>-->
                                                        <td>{{podetail.category}}</td>
                                                        <td>{{podetail.newdeliverdate}}</td>
                                                        <td>{{podetail.message}}</td>
                                                        <td>{{podetail.userInfo.firstName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="commentType = 'SHORTAGE';clearForm();" data-dismiss="modal" class="btn btn-info">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" ng-show="false">
                        <div class="modal" id="poItemDetails1" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                                        <h4 class="modal-title">Delivery Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">
                                            <label>New Delivery Date</label>
                                            <div moment-picker="newdeliverdate" format="DD-MM-YYYY" min-date="minDateMoment">
                                                <input name="newdeliverdate" id="newdeliverdate" class="form-control" placeholder="" ng-model="newdeliverdate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                            <br />
                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <button type="button" class="btn btn-info" ng-click="savePoComments('DELIVERY')">Save</button>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <td style="width:10%">Date</td>
                                                        <td style="width:20%">New Delivery Date</td>
                                                        <td style="width:50%">Comments</td>
                                                        <td style="width:10%">User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="podetail in poitemcomments">
                                                        <td>{{podetail.errorMessage}}</td>
                                                        <td>{{podetail.newdeliverdate}}</td>
                                                        <td>{{podetail.message}}</td>
                                                        <td>{{podetail.userInfo.firstName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="clearForm();">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="modal" id="poItemDetails2" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                                        <h4 class="modal-title">Purchase Remarks</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">

                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <button type="button" class="btn btn-info" ng-click="savePoComments('PURCHASE')">Save</button>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <td style="width:10%">Date</td>
                                                        <td style="width:50%">Comments</td>
                                                        <td style="width:10%">User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="podetail in poitemcomments">
                                                        <td>{{podetail.errorMessage}}</td>
                                                        <td>{{podetail.message}}</td>
                                                        <td>{{podetail.userInfo.firstName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="clearForm();">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>