<div class="pmb-block">.
    <div class="pmbb-header">
        <h2 class="collapseableh2" ng-click="basicinfoCollapse = !basicinfoCollapse"><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
        <a class="actions" data-ng-if="pctrl.editInfo === 0 && (!isnegotiationrunning)"  
        data-ng-click="pctrl.editInfo = 1; basicinfoCollapse =false;" href="">
            <i class="zmdi zmdi-edit"></i>
        </a>
    </div>
    <div class="pmbb-body p-l-30 collapse" aria-expanded="false" uib-collapse="basicinfoCollapse"  aria-hidden="true" id="generatePDFHTMl" >
        <div id="editor" class="bypass"></div>
        <div class="pmbb-view" style="overflow-wrap: break-word;" data-ng-if="pctrl.editInfo === 0">
            <dl class="dl-horizontal">
                <dt>First Name *</dt>
                <dd>{{ userObj.firstName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Last Name</dt>
                <dd>{{ userObj.lastName }}</dd>
            </dl>
        </div>

        <form name="test1" data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">First Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.firstName" type="text" class="form-control" id="firstName" value="{{ userObj.firstName }}" required>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Last Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.lastName" type="text" class="form-control" value="{{ userObj.lastName }}" required>
                    </div>

                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-info btn-sm btn-new-look" ng-click="pctrl.updateUserInfo();">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>