﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="comparativesCtrl">

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="pull-left">Comparisions</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown pull-right" ng-if="!htmlToCanvasSaveLoading">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="htmlToCanvasSave('jpg');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .JPEG</a>
                                        </li>
                                        <li ng-click="htmlToCanvasSave('png');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .PNG</a>
                                        </li>
                                        <!--<li ng-click="htmlToCanvasSave('pdf');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="far fa-file-pdf"></i> &nbsp;.PDF</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <img ng-if="htmlToCanvasSaveLoading" src="img/logos/acadslogo_black.png" ng-click="htmlToCanvasSaveLoading=false" class="pull-right" width="100" height="50">
                            </div>

                        </div>

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-info" onclick="tableToExcel('testTable', 'Comparitives')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                    </div>
                                </div>
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <table id="testTable" class="table" style="width:100%;">
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{ReqReportForExcel.reqItems[0].reqVendors.length + 8}}" style="border:1px solid black;text-align:center;">
                                                <h3><strong>COMPARATIVE STATEMENT</strong></h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">
                                                <h5>REQ Number: <strong>{{ReqReportForExcel.requirementNumber}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;">
                                                <h5>DATE: <strong>{{ReqReportForExcel.currentDate}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">
                                                <h5>TITLE: <strong>{{ReqReportForExcel.title}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;">
                                                <h5>CREATED BY: <strong>{{ReqReportForExcel.companyName}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;">
                                                &nbsp;
                                            </td>

                                            <!-- VENDOR NAME -->
                                            <td style="background-color:darkseagreen;border:1px solid black;">
                                                Vendor Name
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td><strong> {{vendor.vendorName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-if="vendor.IS_QUOT_LATE == 1" class="text-danger"><strong>LATE</strong></span> </strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- VENDOR NAME -->
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;">
                                                &nbsp;
                                            </td>

                                            <!-- VENDOR CODE -->
                                            <td style="background-color:darkseagreen;border:1px solid black;">
                                                Vendor Code
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td><strong> {{vendor.vendor.vendorCode}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- VENDOR CODE -->
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                {{prmFieldMappingDetails.PRODUCT_NAME.FIELD_LABEL}}
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                {{prmFieldMappingDetails.PRODUCT_CODE.FIELD_LABEL}}
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                PR Number
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                WBS Code
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                {{prmFieldMappingDetails.PRODUCT_NUMBER.FIELD_LABEL}}
                                            </td>
                                            <!--<td style="background-color:lightblue;border:1px solid black;">
            Description
        </td>-->
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                {{prmFieldMappingDetails.PRODUCT_QUANTITY.FIELD_LABEL}} / {{prmFieldMappingDetails.PRODUCT_UNITS.FIELD_LABEL}}
                                            </td>
                                            <!--<td style="background-color:lightblue;border:1px solid black;">
            Units
        </td>-->
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                {{prmFieldMappingDetails.PRODUCT_MAKE_MODEL.FIELD_LABEL}}
                                            </td>
                                            <!--<td style="background-color:lightblue;border:1px solid black;">
            Last Price
        </td>-->
                                            <td style="background-color:darkseagreen;border:1px solid black;"></td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td><strong>{{vendor.companyName}} ({{vendor.selectedVendorCurrency}})</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in ReqReportForExcel.reqItems">
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productIDorName}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productCode}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.ITEM_PR_NUMBER ? item.ITEM_PR_NUMBER : '-'}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.PR_WBS_CODE ? item.PR_WBS_CODE : '-'}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productNo}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--<td style="width:100%;border:1px solid black;">
            <table>
                <tr>
                    <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productDescription}}</strong></td>
                </tr>
            </table>
        </td>-->
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--<td style="width:100%;border:1px solid black;">
            <table>
                <tr>
                    <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantityIn}}</strong></td>
                </tr>
            </table>
        </td>-->
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productBrand}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!--<td style="width:100%;border:1px solid black;">
            <table>
                <tr>
                    <td rowspan="6" style="min-width:100px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.itemLastPrice}}</strong></td>
                </tr>
            </table>
        </td>-->
                                            <td style="width:100%;background-color:darkseagreen;border:1px solid black;">
                                                <table>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">Vendor Units</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">Vendor Make</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px;">Original Price</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px"> Revised Price</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black" ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
                                                        <td style="min-width:100px"> Revised Price CB</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px">Initial Total Tax <small>(Tax%)</small></td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black">
                    <td style="min-width:100px">Freight & TAX %</td>
                </tr>
                <tr style="border-bottom:1px solid black">
                    <td style="min-width:100px">Rev Freight & TAX %</td>
                </tr>-->
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:100px">Initial Total</td>
                                                    </tr>
                                                     <tr style="border-bottom:1px solid black" ng-if="ReqReportForExcel.isDiscountQuotation == 1">
                                                        <td style="min-width:100px">Unit Discount</td>
                                                    </tr>
                                                     <tr style="border-bottom:1px solid black" ng-if="ReqReportForExcel.isDiscountQuotation == 1">
                                                        <td style="min-width:100px">Rev Unit Discount</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:150px;">Rev Total</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black" ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
                                                        <td style="min-width:100px"> Rev Total CB</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:150px;"> Item Initial Comments</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black">
                                                        <td style="min-width:150px;"> Item Rev Comments</td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black">
                    <td style="min-width:150px;">Inco Terms</td>
                </tr>-->
                                                    <tr>
                                                        <td style="min-width:150px;">Regret Comments</td>
                                                    </tr>
                                                    <tr style="border-top:1px solid black;" ng-if="item.productQuotationTemplateArray.length > 0 &&
                                                        !isOnlySpecificationTemplate(item.productQuotationTemplateArray)">
                                                        <td><strong>Sub-items</strong></td>
                                                    </tr>
                                                    <tr style="border-top:1px solid black;min-width:150px;" ng-repeat="obj in item.productQuotationTemplateArray"
                                                        ng-if="isOnlySpecificationTemplate(item.productQuotationTemplateArray) && obj.NAME !== 'Total'&& obj.IS_VALID ==1">
                                                        <td>{{obj.NAME}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td ng-repeat="vendor in item.reqVendors" style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px"> {{vendor.quotationPrices.vendorUnits?vendor.quotationPrices.vendorUnits:item.productQuantityIn}}&nbsp;</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;" title="{{vendor.quotationPrices.vendorBrand}}">
                                                        <td style="min-width:100px"> <span>{{vendor.quotationPrices.vendorBrand}}</span>&nbsp;</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px"> {{vendor.quotationPrices.unitPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black">
                                                        <td style="min-width:100px">
                                                            <!-- ITEM LEVEL RANKING-->
                                                            <strong>{{vendor.quotationPrices.revUnitPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;<!--(<small>Rank:</small>{{(vendor.quotationPrices.itemRank > 0?vendor.quotationPrices.itemRank:'NA')}})--></strong>
                                                            <!-- ITEM LEVEL RANKING-->
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black" ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
                                                        <td style="min-width:100px">
                                                            <strong>{{vendor.quotationPrices.revUnitPriceCB * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</strong>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px" ng-if="vendor.quotationPrices">
                                                            <span ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">
                                                                {{(item.productQuantity * vendor.quotationPrices.unitPrice)*(getTotalTax(vendor.quotationPrices))/100 | number: companyRoundingDecimalSetting}}&nbsp;
                                                            </span>
                                                            ({{getTotalTax(vendor.quotationPrices) | roundedDecimalDisplay : companyRoundingDecimalSetting}}%)
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black">
                    <td style="min-width:100px">
                        <span>{{vendor.quotationPrices.itemFreightCharges + ((vendor.quotationPrices.itemFreightCharges / 100) * vendor.quotationPrices.itemFreightTAX)}}</span>
                        ({{vendor.quotationPrices.itemFreightTAX}}%)
                    &nbsp;</td>
                </tr>
                <tr style="background-color:lightpink;border-bottom:1px solid black">
                    <td style="min-width:100px">
                        <span>{{vendor.quotationPrices.itemRevFreightCharges + ((vendor.quotationPrices.itemRevFreightCharges / 100) * vendor.quotationPrices.itemFreightTAX)}}</span>
                        ({{vendor.quotationPrices.itemFreightTAX}}%)
                    &nbsp;</td>
                </tr>-->
                                                    <tr style="border-bottom:1px solid black;">
                                                        <td style="min-width:100px" ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">{{vendor.quotationPrices.itemPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;"  ng-if="ReqReportForExcel.isDiscountQuotation == 1">
                                                        <td style="min-width:100px">
                                                            {{vendor.quotationPrices.unitDiscount}}
                                                        </td>
                                                    </tr>
                                                     <tr style="border-bottom:1px solid black;"  ng-if="ReqReportForExcel.isDiscountQuotation == 1">
                                                         <td style="min-width:100px">
                                                             {{vendor.quotationPrices.revUnitDiscount}}
                                                         </td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black;">
                                                        <td ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">
                                                            <strong>{{vendor.quotationPrices.revitemPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}} </strong>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color:lightpink;border-bottom:1px solid black;" ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
                                                        <td ng-if="vendor.quotationPrices.vendorUnits == item.productQuantityIn">
                                                            <strong>{{vendor.quotationPrices.revitemPriceCB * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}</strong>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;" title="{{vendor.quotationPrices.itemLevelInitialComments}}">
                                                        <td style="min-width:100px"> <span>{{vendor.quotationPrices.itemLevelInitialComments}}</span>&nbsp;</td>
                                                    </tr>
                                                    <tr style="border-bottom:1px solid black;" title="{{vendor.quotationPrices.itemLevelRevComments}}">
                                                        <td style="min-width:100px"> <span>{{vendor.quotationPrices.itemLevelRevComments}}</span>&nbsp;</td>
                                                    </tr>
                                                    <!--<tr style="border-bottom:1px solid black;"  title="{{vendor.INCO_TERMS}}">
                    <td style="min-width:100px"> <span >{{vendor.INCO_TERMS}}</span>&nbsp;</td>
                </tr>-->
                                                    <tr title="{{vendor.quotationPrices.regretComments}}">
                                                        <td style="min-width:100px"> <span ng-if="vendor.quotationPrices.isRegret">{{vendor.quotationPrices.regretComments}}</span>&nbsp;</td>
                                                    </tr>
                                                    <tr style="border-top:1px solid black;" ng-if="item.productQuotationTemplateArray.length > 0 &&
                                                        !isOnlySpecificationTemplate(vendor.quotationPrices.productQuotationTemplateArray1)">
                                                        <td style="min-width:500px">
                                                            {{handleSubItemsVisibility(vendor.quotationPrices.productQuotationTemplateArray1)}}
                                                            <div class="col-md-12 table-responsive" style="max-height:250px;overflow-y:auto;padding-right:2px;padding-left:0px;">
                                                                <table class="table table-hover" style="width:100%;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:80px;border-right:1px solid black;" title="Specification"><strong>Sub-item</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hideSPECIFICATION" style="width:80px;border-right:1px solid black;" title="Specification"><strong>Spec.</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hideQUANTITY" style="width:80px;border-right:1px solid black;" title="Qty"><strong>Qty</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hideTAX" style="width:80px;border-right:1px solid black;" title="Tax"><strong>Tax</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;" title="Price"><strong>Price</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;" title="Total Sub-Item Price"><strong>T.S.I.P</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;" title="R.Price"><strong>R.P</strong></th>
                                                                            <th ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;" title="R.Total Sub-Item Price"><strong>R.T.S.I.P</strong></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="obj in vendor.quotationPrices.productQuotationTemplateArray1" ng-if="obj.NAME !== 'Total' && obj.IS_VALID ==1">
                                                                            <td style="border-right:1px solid black;"><strong>{{obj.NAME}}</strong></td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hideSPECIFICATION" style="border-right:1px solid black;">{{obj.SPECIFICATION}}</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hideQUANTITY" style="width:80px;border-right:1px solid black;">{{obj.CONSUMPTION | number : companyRoundingDecimalSetting }}</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hideTAX" style="width:80px;border-right:1px solid black;">{{obj.TAX | number : companyRoundingDecimalSetting }}%</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;">{{obj.BULK_PRICE * vendor.vendorCurrencyFactor | number : companyRoundingDecimalSetting}}</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;">{{obj.UNIT_PRICE * vendor.vendorCurrencyFactor | number : companyRoundingDecimalSetting}}</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;border-right:1px solid black;">{{obj.REV_BULK_PRICE * vendor.vendorCurrencyFactor | number : companyRoundingDecimalSetting}}</td>
                                                                            <td ng-hide="subIemsColumnsVisibility.hidePRICE" style="width:80px;">{{obj.REV_UNIT_PRICE * vendor.vendorCurrencyFactor | number : companyRoundingDecimalSetting}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="border-top:1px solid black;" ng-repeat="obj in vendor.quotationPrices.productQuotationTemplateArray1"
                                                        ng-if="item.productQuotationTemplateArray.length > 0 &&
                                                        isOnlySpecificationTemplate(item.productQuotationTemplateArray)">
                                                        <td style="min-width:500px">
                                                            {{obj.SPECIFICATION}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!--<tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Packing Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            {{vendor.packingChargesWithTax}} ({{vendor.packingChargesTaxPercentage}}%)
        </td>
    </tr>
    <tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Packing Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.revpackingChargesWithTax}} ({{vendor.packingChargesTaxPercentage}}%)</strong>
        </td>
    </tr>
    <tr ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Packing Charges CB<small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.revpackingChargesWithTaxCB}} ({{vendor.packingChargesTaxPercentage}}%)</strong>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Installation Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            {{vendor.installationChargesWithTax}} ({{vendor.installationChargesTaxPercentage}}%)
        </td>
    </tr>
    <tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Installation Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.revinstallationChargesWithTax}} ({{vendor.installationChargesTaxPercentage}}%)</strong>
        </td>
    </tr>
    <tr ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Installation Charges CB<small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.revinstallationChargesWithTaxCB}} ({{vendor.installationChargesTaxPercentage}}%)</strong>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Freight Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.freightChargesWithTax}} ({{vendor.freightChargesTaxPercentage}}%)</strong>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Freight Charges <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>{{vendor.revfreightChargesWithTax}} ({{vendor.freightChargesTaxPercentage}}%)</strong>
        </td>
    </tr>

    <tr ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Rev Freight Charges CB <small>(TAX)</small>
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            <strong>
                {{vendor.revVendorFreightCB + ((vendor.revVendorFreightCB/100) * vendor.freightChargesTaxPercentage)}} ({{vendor.freightChargesTaxPercentage}}%)
            </strong>
        </td>
    </tr>-->
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Total Price
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <span ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.totalInitialPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Rev Total Price
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.revVendorTotalPrice * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</strong>
                                            </td>
                                        </tr>
                                        <tr ng-if="ReqReportForExcel.IS_CB_ENABLED == 1">
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Rev Total Price CB
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.revVendorTotalPriceCB * vendor.vendorCurrencyFactor | roundedDecimalDisplay : companyRoundingDecimalSetting}}&nbsp;</strong>
                                            </td>
                                        </tr>
                                        <tr ng-if="ReqReportForExcel.isTechScoreReq">
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Technical Score
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong>{{vendor.technicalScore > 0 ? vendor.technicalScore : '-'}}&nbsp;</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                GST Number
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <strong ng-hide="containsUOMITems(vendor.vendorID)">{{vendor.gstNumber}}&nbsp;</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Warranty
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.warranty}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Price validity
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.validity}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                Comments & Links
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                <span ng-bind-html="detectLinks(vendor.otherProperties)">{{detectLinks(vendor.otherProperties)}}&nbsp;</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                {{prmFieldMappingDetails.DELIVERY_TERMS.FIELD_LABEL}}
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.duration}}&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;"></td>
                                            <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
                                                {{prmFieldMappingDetails.PAYMENT_TERMS.FIELD_LABEL}}
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
                                                {{vendor.payment}}&nbsp;
                                            </td>
                                        </tr>
                                        <!--<tr>
        <td colspan="5" style="border:1px solid black;"></td>
        <td colspan="1" style="background-color:darkseagreen;border:1px solid black;">
            Inco terms
        </td>
        <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="border:1px solid black;">
            {{vendor.INCO_TERMS}}&nbsp;
        </td>
    </tr>-->
                                        <tr>
                                            <td colspan="{{(ReqReportForExcel.reqItems[0].reqVendors.length) + 8}}" style="border:1px solid black;">&nbsp;</td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Requirement Number</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.requirementNumber}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Title</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.title}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Posted Date</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.postedOn}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Posted By</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.postedByFirstName}} {{ReqReportForExcel.postedByLastName}} ({{ReqReportForExcel.companyName}}).</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Negotiation Date</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{ReqReportForExcel.startTime}}</strong></td>
                                        </tr>
                                        <tr style="text-align:left">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 3}}" style="border:1px solid black;">Savings</td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 6}}" style="border:1px solid black;"><strong>{{(ReqReportForExcel.savings > 0)?ReqReportForExcel.savings :'NA'}}</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--<div class="white-box">
                            <div class="row">
                                <h4>Item / Vendor Comparision</h4>
                                <div class="table-responsive">
                                    <table class="text-center" style="width:100%;" id="11qq11">
                                        <tr>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:50px;" colspan="2">S.NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{$index + 1}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:200px;" colspan="2">Material Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;line-height:13px" colspan="2"><label class="prmellipsis" title="{{item.productIDorName}}">{{item.productIDorName}}</label></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:100px;" colspan="2">QTY</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{item.productQuantity}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td style="border:1px groove;min-width:100px;" colspan="2">UOM</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;" colspan="2">&nbsp;</td>
                                                    </tr>
                                                    <tr ng-repeat="item in auctionItem.listRequirementItems">
                                                        <td style="border:1px groove;" colspan="2">{{item.productQuantityIn}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td ng-repeat="vendor in auctionItem.auctionVendors">
                                                <table style="width:100%;">
                                                    <tr style="background-color:#377ba0;color:#fff">
                                                        <td class="text-center" style="border:1px groove;border-top:1px groove;" colspan="2">{{vendor.companyName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:1px groove;min-width:100px;">Unit Price</td>
                                                        <td style="border:1px groove;min-width:150px;">Revised Unit Price</td>
                                                    </tr>
                                                    <tr ng-repeat="item in vendor.auctionItemVendor.listRequirementItems">
                                                        <td style="border:1px groove;font-weight:bold">{{item.unitPrice}}</td>
                                                        <td style="border:1px groove;font-weight:bold">{{item.revUnitPrice}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>-->

                        <br />

                        <!--<div class="white-box">
                            <div class="row">
                                <div class="col-md-12 m-b-20 padding0">
                                    <h4>Terms & Conditions</h4>
                                </div>
                                <table ng-table="tctrl.tableSorting" class="table table-responsive z-depth-1 clear-both" style="background-color:#FFF;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Vendor Name</th>
                                            <th style="text-align:center">Warranty</th>
                                            <th style="text-align:center">Payment Terms</th>
                                            <th style="text-align:center">Delivery Terms</th>
                                            <th style="text-align:center">Price Validity</th>
                                            <th style="text-align:center">Other Properties</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border:1px dotted" ng-repeat="vendor in auctionItem.auctionVendors">
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.companyName}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.warranty}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.payment}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.duration}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.validity}}</strong>
                                            </td>
                                            <td style="border:1px dotted">
                                                <strong>{{vendor.otherProperties}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->

                        <!--<div class="white-box">
                            <div class="row">
                                <div class="col-md-12 m-b-20 padding0">
                                    <h4>Vendor Level Price Comparision</h4>
                                </div>

                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle quotes_table" style="background-color:#FFF;">
                                    <thead>
                                        <tr>
                                            <th data-title="'Vendor city'" sortable="'City'">
                                                Company Name
                                            </th>
                                            <th data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                                Vendor Name
                                            </th>

                                            <th data-title="'Rank'" sortable="'Rank'">
                                                Rank
                                            </th>
                                            <th ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                                Quotation Price
                                            </th>
                                            <th ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                                Quotation Price
                                            </th>
                                            <th data-title="'View Quotations'">
                                                View Quotations
                                            </th>
                                            <th ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                                Taxes (in %)
                                            </th>
                                            <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                                Closed Price
                                            </th>
                                            <th data-title="'Bid History'" sortable="'Bid History'">
                                                Previous Bids
                                            </th>
                                            <th ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                Rev.Quotation
                                            </th>
                                            <th ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' )&& (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Quotation Aproovel'" sortable="'Quotation Aproovel'">
                                                Quotation Approval
                                            </th>
                                            <th data-title="'Price Reduction'" sortable="'Price Reduction'">
                                                Price Reduction %
                                            </th>
                                            <th data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                                Tech. Evaluation
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="auctionVendor in auctionItem.auctionVendors">
                                            <td data-title="'Vendor city'" sortable="'City'">                                                
                                                <span><strong><a target="_blank" href="prm360.html#/viewprofile/{{auctionVendor.vendorID}}">{{auctionVendor.companyName}}</a></strong></span>
                                            </td>
                                            <td data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                                {{ auctionVendor.vendorName }}
                                            </td>

                                            <td data-title="'Rank'" sortable="'Rank'">
                                                {{(auctionVendor.runningPrice == 0 || auctionVendor.rank == 0)?'-':auctionVendor.rank}}
                                            </td>
                                            <td ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                                            <td ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                                            <td data-title="'View Quotations'">
                                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.quotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Quotation</a>
                                            </td>
                                            <td ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                                {{auctionVendor.taxes}}
                                            </td>
                                            <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="auctionVendor.totalRunningPrice | numToCurrency:auctionItem.currency"></td>
                                            <td data-title="'Bid History'" sortable="'Bid History'">
                                                <span><strong><a target="_blank" href="prm360.html#/bidhistory/{{auctionVendor.vendorID}}/{{auctionItem.requirementID}}/false">Previous Bids</a></strong></span>
                                            </td>

                                            <td ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' || auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.revquotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Rev Quotation</a>
                                            </td>

                                            <td ng-show="auctionItem.status != 'STARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                                Not Uploaded
                                            </td>

                                            <td data-title="'Price Reduction'" sortable="'Price Reduction'">
                                                {{(auctionVendor.reductionPercentage <= 0)?'NA':auctionVendor.reductionPercentage}}
                                            </td>
                                            <td data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                                {{auctionVendor.techEvalScore}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>