<header id="header"  data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="paymentCtrl">
            <div class="block-header">
                <h2>{{auctionItem.title}}</h2> 
            </div>
            <form ng-submit="meterialDispatchmentForm.$valid && postRequest()" class="meterialDispatchmentForm" name="meterialDispatchmentForm" novalidate>

                <div class="card">
                    <div class="card-header">
                        <h2>Payment Details</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line">
                                    <input type="number" ng-model="formRequest.paymentAmount" id="paymentAmount" name="paymentAmount" class="form-control" required>
                                    <label class="fg-label">Payment Amount</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.paymentAmount.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.paymentAmount.$error.required">Payment Amount</div>
                                </div>
                            </div>


                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                    <input type="text" ng-model="formRequest.paymentMode" required name="paymentMode" id="paymentMode" class="form-control fg-input">
                                    <label class="fg-label">Payment Mode</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.paymentMode.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.paymentMode.$error.required">Please enter Payment Mode</div>
                                </div>
                            </div>


                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line">
                                    <textarea ng-model="formRequest.bankDetails" rows="4" id="bankDetails" name="bankDetails" class="form-control" required></textarea> 
                                    <label class="fg-label">Bank Details</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.bankDetails.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.bankDetails.$error.required">Please enter Bank Details</div>
                                </div>
                            </div>
                            
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line">
                                    <textarea ng-model="formRequest.comments" rows="4" id="comments" name="comments" class="form-control" required></textarea> 
                                    <label class="fg-label">Comments</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.comments.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.comments.$error.required">Please enter comments</div>
                                </div>
                            </div> 
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true || !meterialDispatchmentForm.paymentDate.$error.required}">

                                    <input datetime-picker type="text" ng-model="formRequest.paymentDate" name="paymentDate" id="paymentDate" date-format="dd-MM-yyyy" date-only class="form-control fg-input" required datetime-picker date-format="dd-MM-yyyy" date-only>
                                    <label class="fg-label">Payment Date</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.paymentDate.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.paymentDate.$error.required">Please enter Payment Date</div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-info btn-file m-r-10">Update Data</button>
                </div>
            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>