﻿<style>
    .mismatch {
        /* Add your desired styles here */
        background-color: yellow;
    }
</style>
<div class="fix-header">

    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="threeWayMatchingCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>Type</strong></h5>
                            <select ng-model="filters.type" ng-change="filterByDate()" class="form-control">
                                <option selected value=''>ALL</option>
                                <option value='Success'>Success</option>
                                <option value='Quantity Mismatch'>Failed</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="filterByDate(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>

                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" id="hyperlinkContainer" style="overflow-x:auto">
                            <small style="color:green"> Total Count:{{totalItems}}</small>
                            <table class="table  table-striped table-bordered" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;" ng-repeat="columnName in tableColumns track by $index"><strong>{{columnName}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;" ng-repeat="val in value.tableValues track by $index" ng-class="{'mismatch': val === 'Quantity Mismatch'}">
                                            <span ng-if="tableColumns[$index] !== 'PO NUMBER' && tableColumns[$index] !== 'INVOICE NUMBER'&& tableColumns[$index] !== 'GRN NUMBER'">
                                                {{val}}
                                            </span>
                                            <span ng-if="tableColumns[$index] === 'PO NUMBER'">
                                                <!-- Create a hyperlink if the column is 'linkText' -->
                                                <a target="_blank" data-ui-sref="list-pendingPOOverall({poID:val})">{{val}}</a>
                                            </span>
                                            <span ng-if="tableColumns[$index] === 'INVOICE NUMBER'">
                                                <!-- Create a hyperlink if the column is 'linkText' -->
                                                <a target="_blank" data-ui-sref="vendorPoInvoices()">{{val}}</a>
                                            </span>
                                            <span ng-if="tableColumns[$index] === 'GRN NUMBER'">
                                                <!-- Create a hyperlink if the column is 'linkText' -->
                                                <a target="_blank" data-ui-sref="list-GRN()">{{val}}</a>
                                            </span>


                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
