<style>
    #myCalander .panel {
        box-shadow: 0 4px 50px 0 #c5c1c1 !important;
        border-radius: 5px;
    }
    #myCalander .panel-body {
        padding: 10px 0px !important;
    }
    #myCalander .datePanel {
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    #myCalander .btn {
        padding: 8px 10px;
        margin: 1px;
        font-size: 1em;
        border: 0px solid #e4e7ea;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0)
    }
    #myCalander .btn-default {
        background: #fff;
        color: black;
    }

    #myCalander .btn-info.active {
        background: #057cb5;
        color: #fff;
    }
    #myCalander table {
        width: 100%
    }
    #myCalander .dataDiv {
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 5px;
        margin-bottom: 6px;
        padding: 10px 10px;
        background:#fff;
        cursor:pointer;
    }
    .story_circle {
        border: 4px solid #bec3c9;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        height: 40px;
        width: 40px;
        vertical-align: middle;
        background: #fff;
        margin:0 5px;
    }
    .story_circle_color {
        border-color: #3d69d1;
    }
    .story_circle span {
        font-size: 1.3em;
        font-weight: bolder;
        position: relative;
        top: 5px;
    }
    .story_bg {
        border: 3px solid #ffF;
        overflow: hidden;
        border-radius: 5px;
    }
    .newStory{
        background:#fff;
        padding:15px;
    }
    .myStoryCircle {
        height: 62px;
        width: 62px;
        border-radius: 50px;
        background: whitesmoke;
    }
    .myStoryCircle .fa{
        font-size: 1.5em;
        position: relative;
        top: 23px;
        left: 23px;
    }
    .stryBrdr {
        border: 4px solid #3d69d1;
    }
    .stryBrdrWhte {
        height: 50px;
        width: 50px;
        margin: 2px;
        border: 2px solid #fff;
        border-radius: 50px;
        cursor: pointer;
    }
    .viewStory{
        background:rgba(0, 0, 0, 0.9);
        padding-top:7px;
        border-radius:5px;
    }
    .viewStoryMainBox {
        background: #fff;
        border-radius: 5px;
        width: 40%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position:relative;
    }
    .progress {
        border-radius: 10px;
        height: 5px;
        margin-bottom: 15px;
    }
    /*.close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
    }*/
    .vsmbCirlce{
        height:45px;
        width:45px;
        border-radius:50%;
        background:#fff;
        overflow:hidden;
    }
    .myProgressoiveBar{
        transition: .1s;
    }
    .viewStoryMainBox {
        color:black;
        text-shadow: 1px 0px 10px white;
    }
    .statusNotification {
        padding-bottom: 18px;
        padding-left: 1px;
        text-align: center;
        color: #ff2b68;
        font-weight: 900;
        position: absolute;
        top: 0px;
        right: 1px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50px;
        border: 1px solid;
    }
    textarea {
        height: auto;
        max-width: 600px;
        color: #999;
        font-weight: 400;
        font-size: 1em;
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
        padding: 30px;
        overflow:hidden;
        transition: height 2s ease;
    }
    .text-custom {
        color: #115980;
    }
</style>

<div id="myCalander" class="toDoCalander">
    
    <div class="myDataCal" style="padding:10px;cursor:pointer;height:60px;">
        <div class="col-md-12 text-center">
            <div class="row">
                <!--<div class="col-md-11 text-right" style="height:40px;width:95%;">
                    <div class="row">
                        <div class="story_circle text-center" ng-click="openNewStory(0)"><span><i class="fa fa-plus" aria-hidden="true" style="color:#23527c;"></i></span></div>
                        <div class="story_circle story_circle_color text-center" ng-click="openNewStory(1)"><span><i class="fa fa-paper-plane" aria-hidden="true" style="color:#23527c;"></i></span></div>
                        <span ng-show="zeroArrCnt > 0" class="statusNotification">{{stryArrCnt}}</span>
                    </div>
                </div>-->
                <div class="col-md-1" style="width:5%;"><a ng-click="calanderData();"> <img src="UI_2018_03/images/google-calendar.png" style="height:40px;" /> </a></div>
                
            </div>
        </div>
    </div>
    <div ng-show="toDoCalander" class="pull-right">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading text-center" style="background-color:#115980 !important;">Events and Notifications</div>
                <div class="panel-body" ng-style="{height:myPanel}">
                    <div class="panel panel-default">
                        <div class="col-md-12 datePanel">

                            <div class="text-center" style="display:inline-block; min-height:210px;width:300px;">
                                <datepicker ng-model="formData.dt"
                                            min-date="minDate"
                                            max-date="maxDate"
                                            show-weeks="false"
                                            starting-day="1"
                                            date-as-ms
                                            class=""
                                            ng-change="myDate(formData.dt)">
                                </datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="height:56%;overflow-y:auto;padding:15px;background:#edf1f5">
                        <div ng-if="records.length > 0" ng-repeat="x in records">
                            <div class="col-md-12 dataDiv" ng-if="x.userName == 'CUSTOMER' && x.startTime != ''" data-ui-sref="view-requirement({Id:x.requirementID})">
                                <div style="font-weight:bold;color:#000000;">Req ID: {{x.requirementID}}</div>
                                <div style="font-weight:bold;color:#115980;" data-ui-sref="view-requirement({Id:x.requirementID})">Title: {{x.title}}</div>
                                <div>{{x.desc}}</div>
                                <div>Negotiation Time: {{x.startTime}}</div>
                                <div>Status:<strong class="{{x.statusColor}}">  {{x.status}}</strong></div>
                            </div>

                            <div class="col-md-12 dataDiv" ng-if="x.userName != 'CUSTOMER' && x.quotationFreezTime != ''" data-ui-sref="view-requirement({Id:x.requirementID})">
                                <div style="font-weight:bold;color:#000000;">Req ID: {{x.requirementID}}</div>
                                <div style="font-weight:bold;color:#115980;" data-ui-sref="view-requirement({Id:x.requirementID})">Title: {{x.title}}</div>
                                <div>{{x.desc}}</div>
                                <div>Quotation Freeze Time: {{x.quotationFreezTime}}</div>
                                <div>Status: <strong class="{{x.statusColor}}">  {{x.status}}</strong></div>
                            </div>
                        </div>
                        <div ng-if="records.length <= 0">
                            <div class="col-md-12 dataDiv">
                                No Notifications
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <!--<div ng-show="myStoryBoard" class="pull-right" style="width:95%;">
        <div class="newStoryBoard">
            <div class="col-md-12 story_bg" ng-style="{height:myPanel + 43}">
                <div class="row">
                    <div class="col-md-4 newStory" ng-style="{height:myPanel + 40}">
                        <div class="row">
                            <div class="col-md-12" style="background:#fff;border-bottom:1px solid #d4d4d4;">
                                <div class="row">
                                    <div class="col-md-12 text-center" style="height:32px;">
                                        <h4 style="margin-top:0px;">Stories & Updates</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 createStoryBox">
                                
                                <div class="col-md-12" style="margin-bottom:15px;height: 128px;">
                                    <div class="row" ng-click="openNewStory(0)" style="cursor:pointer;">
                                        <h2><b>Your Story</b></h2>
                                        <div class="col-md-3" style="padding-top:5px;padding-bottom:5px;"><div class="myStoryCircle"><i class="fa fa-plus" aria-hidden="true"></i></div></div>
                                        <div class="col-md-9 myStoryHead">
                                            <h4>Add To your Story</h4>
                                            <p>Share a Photo or write something</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 50px;">
                                    <div class="row">
                                        <h3><b>All Story</b></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" ng-style="{height:myPanel - 205}" style="overflow:scroll;">
                                        <div ng-repeat="dataRecord in dataRecords">
                                            <div class="col-md-3 text-center" style="padding-top:5px;padding-bottom:5px;">
                                                <div ng-if="dataRecord.status == 0">
                                                    <div class="myStoryCircle stryBrdr" ng-click="openSpecificStory($index)">
                                                        <div class="stryBrdrWhte"></div>
                                                    </div>
                                                </div>
                                                <div ng-if="dataRecord.status != 0">
                                                    <div class="myStoryCircle stryBrdr" ng-click="openSpecificStory($index)" style="border: 4px solid #b7bac3;">
                                                        <div class="stryBrdrWhte"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9 myStoryHead">
                                                <div class="row">
                                                    <h4>{{dataRecord.U_NAME}}</h4>
                                                    <p>1 h</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 viewStory" ng-style="{height:myPanel + 37}">
                        <div class="row">

                            <div ng-show="viewStory" class="col-md-offset-4 viewStoryMainBox" style="background-image:url('{{bgImg}}');height:{{myPanel + 23}}px;">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div ng-show="timesRun > 2 && timesRun <= 99" class="progress-bar progress-bar-default myProgressoiveBar" role="progressbar" aria-valuenow="{{barWidth}}"
                                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':barWidth}">
                                        </div>
                                    </div>
                                    <div class="col-md-3"><div class="vsmbCirlce"><img src="{{userStoryImg}}" style="width:45px;height:45px;" /></div></div>
                                    <div class="col-md-9" style="font-weight:bolder;font-size:1.3em;"><div style="margin:3px 0 0;">{{storyRecord.U_NAME}}</div><b>10 h</b></div>

                                </div>
                                <div class="col-md-12" style="position:absolute;bottom:10px;text-align:center;"><b style="font-weight: bolder;font-size: 1.1em;">{{myRecord.US_DESCRIPTION}}</b></div>
                            </div>

                            <div  ng-show="createStory" class="col-md-offset-4 viewStoryMainBox" style="background-image:url('{{imageSrc}}');height:{{myPanel + 23}}px;">
                                <div class="col-md-12">
                                    <h2 class="text-center" style="font-weight:900;">New Story</h2>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input type="file" class="form-control" ng-file-select="onFileSelect($files)" />
                                            </div>
                                        </div>
                                    </div>
                                    <textarea id="TextArea" ng-model="loremIpsum" ng-keyup="autoExpand($event)" placeholder="story here..."></textarea>
                                    <div class="col-md-12 text-center"><button class="btn btn-lg btn-primary" ng-click="postStory()">Post Story</button></div>
                                </div>
                            </div>

                            <i class="fa fa-times close" aria-hidden="true" ng-click="closeStory()"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>