﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="vendorPoInvoicesCtrl">
                <div>

                    <h4>Vendor Invoices</h4>

                    <div class="white-box">
                        <div class="row" style="margin-bottom:10px;">

                            <div class="col-md-2">
                                <h5><strong>Search</strong></h5>
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(searchKeyword);" ng-model="searchKeyword"
                                       ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h5><strong>Status</strong></h5>
                                    <div class="col-md-12">
                                        <select class="form-control" 
                                                ng-model="filters.STATUS" 
                                                ng-change="setFilters(searchKeyword)"
                                                ng-options="type.ID as type.STATUS for type in invStatus"></select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h5><strong>From date</strong></h5>
                                    <div class="col-md-12" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h5><strong>To date</strong></h5>
                                    <div class="col-md-12" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="setFilters(searchKeyword);">Apply</button></div>

                            <!--<div class="col-md-4">
                <div style="border:1px solid #cccccc">
                    <hc-chart options="status">Loading...</hc-chart>
                </div>
            </div>
            <div class="col-md-4">
                <div style="border:1px solid #cccccc">
                    <hc-chart options="payment">Loading...</hc-chart>
                </div>
            </div>-->
                        </div>
                        <!--<div class="row" style="padding-top:10px;">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-12">From date</label>
                    <div class="col-md-12" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                        <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-12">To date</label>
                    <div class="col-md-12" moment-picker="filters.toDate" format="YYYY-MM-DD">
                        <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="getInvoiceHeaderLevelList(filters.searchKeyword);">Apply</button></div>
            <div class="col-md-1"></div>
        </div>-->
                        <div class="row">
                            <div class="pmb-block ng-scope">

                                <div class="table-responsive">
                                    <table class="table-striped table-bordered table z-depth-1 clear-both">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;"><strong>Invoice Number</strong></th>
                                                <th style="text-align:center;"><strong>SAP Invoice Number</strong></th>
                                                <th style="text-align:center"><strong>PO Number</strong></th>
                                                <th style="text-align:center"><strong>PO Line Item</strong></th>
                                                <th style="text-align:center"><strong>GRN Number</strong></th>
                                                <th style="text-align:center"><strong>GRN Line Item</strong></th>
                                                <th ng-if="!isVendor" style="text-align:center"><strong>Supplier Name</strong></th>
                                                <th style="text-align:center"><strong>Invoice Date</strong></th>
                                                <th style="text-align:center"><strong>Invoice Created Date</strong></th>
                                                <th style="text-align:center"><strong>Invoice Qty</strong></th>
                                                <th style="text-align:center"><strong>Invoice Status</strong></th>
                                                <th style="text-align:center"><strong>UOM</strong></th>
                                                <th style="text-align:center"><strong>Actions</strong></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="invoice in invoiceDetails">
                                                <td style="text-align:center;">{{invoice.INVOICE_NUMBER}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_SAP_NUMBER}}</td>
                                                <td style="text-align:center;">{{invoice.PO_NUMBER}}</td>
                                                <td style="text-align:center;">{{invoice.PO_LINE_ITEM}}</td>
                                                <td style="text-align:center;">{{invoice.GRN_NUMBER}}</td>
                                                <td style="text-align:center;">{{invoice.GRN_LINE_ITEM}}</td>
                                                <td style="text-align:center;" ng-if="!isVendor">{{invoice.VENDOR_COMP_NAME}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_DATE}}</td>
                                                <td style="text-align:center;">{{invoice.DATE_CREATED}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_QTY}}</td>
                                                <td style="text-align:center;">
                                                    {{invoice.STATUS}}
                                                    <br />
                                                    <label ng-if="invoice.STATUS == 'REJECTED'">
                                                        <a title="Click here to view rejection details" role="button"
                                                           class="btn btn-info btn-outline btn-circle m-r-5 fa fa-info"
                                                           ng-click="showRejectionDetails(invoice);"
                                                           data-target="#showRejectionDetails" data-toggle="modal">
                                                        </a>
                                                    </label>
                                                </td>
                                                <td style="text-align:center;">{{invoice.UOM}}</td>
                                                <td style="text-align:center; width:70px">
                                                    <a title="Invoice Attachments" target="_blank" ng-if="invoice.ATTACHMENTS" href="FileDownload.aspx?attachid={{invoice.ATTACHMENTS}}&sessionid={{sessionId}}"><i class="fa fa-download"></i></a>&nbsp;&nbsp;
                                                    <small ng-if="!invoice.ATTACHMENTS" style="color:red">No attachment</small>
                                                    <a ng-if="invoice.COMMENTS" data-toggle="modal" data-target="#InvoiceComments" title="Comments" role="button" ng-click="showInvoiceComments(invoice)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                                    <a ng-if="invoice.PAYMENT_INVOICE_NUMBER" role="button" ng-click="routetoPayment(invoice.PAYMENT_INVOICE_NUMBER)"><i class="fas fa-dollar-sign" aria-hidden="true"></i></a>                                                    

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--<strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>invoiceDetails.length)?(invoiceDetails.length):(pageSizeTemp+9) }} of {{ invoiceDetails.length }}</strong>-->

                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal fade" id="InvoiceComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="width:950px;">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">
                                        <strong>
                                            Comments:
                                        </strong><br />
                                        {{invoiceComments}}
                                    </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="modal fade" id="showRejectionDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="width:950px;">
                                <div class="modal-header bg-primary">
                                    <div class="col-md-4">
                                        <h3>Invoice Rejection Details</h3>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="color:red"> Invoice Rejected Comments : {{invoiceRejectionDetails.INVOICE_REJECTED_COMMENT}}</h4>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <h4 style="color:red"> Invoice Rejected By : {{invoiceRejectionDetails.INVOICE_REJECTED_BY}}</h4>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <h4 style="color:red"> Invoice Fiscal Year : {{invoiceRejectionDetails.INVOICE_FISCAL_YEAR}}</h4>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12">
                                        <button ng-click="closePopUp()" class="btn btn-info">
                                            Cancel
                                        </button>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
