﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" style="height:90%;" ng-controller="vendorInvoices">
                <div>

                    <h4>Vendor Invoices</h4>

                    <div class="white-box">
                        <div class="row">


                            <div class="col-md-4">
                                <div style="border:1px solid #cccccc">
                                    <hc-chart options="status">Loading...</hc-chart>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="border:1px solid #cccccc">
                                    <hc-chart options="payment">Loading...</hc-chart>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-md-2">
                                <label class="col-md-12">Search</label>
                                <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="postedFromDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="postedFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="postedToDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="postedToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="setFilters1();">Apply</button></div>
                            <div class="col-md-1"></div>
                            <!--<div class="col-md-2">
                                <button class="btn btn-info pull-right m-t-20" ng-click="editIncoTerm(incoTerm);">
                                    <b><i class="fa fa-plus-circle m-l-5"></i> New Invoice</b>
                                </button>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="pmb-block ng-scope">


                                <div class="table-responsive">
                                    <table class="table-striped table-bordered table z-depth-1 clear-both">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;"><strong>Invoice</strong></th>
                                                <th style="text-align:center"><strong>PO Number</strong></th>
                                                <th ng-if="!isVendor" style="text-align:center"><strong>Supplier Name</strong></th>
                                                <th style="text-align:center"><strong>InvoiceType</strong></th>
                                                <th style="text-align:center"><strong>Invoice Date</strong></th>
                                                <th style="text-align:center"><strong>Sub Total</strong></th>
                                                <th style="text-align:center"><strong>Tax</strong></th>
                                                <th style="text-align:center"><strong>Total Price</strong></th>
                                                <th style="text-align:center"><strong>Status</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="invoice in invoiceDetails1.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                <td style="text-align:center;"><a style="cursor:pointer;" ng-click="createInvoice(invoice)">{{invoice.INVOICE_NUMBER}}</a></td>
                                                <td style="text-align:center;">{{invoice.PO_NUMBER}}</td>
                                                <td style="text-align:center;" ng-if="!isVendor">{{invoice.CUSTOMER_NAME}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_TYPE}}</td>
                                                <td style="text-align:center;">{{invoice.INVOICE_DATE}}</td>
                                                <td style="text-align:center;">{{invoice.SUB_TOTAL}}</td>
                                                <td style="text-align:center;">{{invoice.TAX}}</td>
                                                <td style="text-align:center;">{{invoice.TOTAL}}</td>
                                                <td style="text-align:center;">{{invoice.STATUS}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--<strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>invoiceDetails.length)?(invoiceDetails.length):(pageSizeTemp+9) }} of {{ invoiceDetails.length }}</strong>-->

                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>



                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>