﻿<div class="table-responsive z-depth-2" style="min-height:600px">
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Name <span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" required name="Name" ng-model="_requirementTemplateCtrl.RequirementTemplateModel.Name" />
            <div class="error-message"
                 ng-if="craetedorupdate.Name.$invalid && (craetedorupdate.$submitted || craetedorupdate.Name.$touched)"
                 ng-messages="craetedorupdate.Name.$error" role="alert">
                <div ng-message="required">Name is required</div>
            </div>

        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Description <span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" required name="Detail" ng-model="_requirementTemplateCtrl.RequirementTemplateModel.Description"></textarea>
            <div ng-messages="craetedorupdate.Description.$error"
                 ng-if="craetedorupdate.Description.$invalid && (craetedorupdate.$submitted || craetedorupdate.Description.$touched)"
                 class="error-message"
                 role="alert">
                <div ng-message="required">Description is required</div>
            </div>


        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Active</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="Active" ng-model="_requirementTemplateCtrl.RequirementTemplateModel.Active" />
            </label>
        </div>

    </div>



    <div class="form-group row">
        <div class="col-lg-4">
            <label class="control-label">Limited to department</label>
        </div>
        <div class="col-lg-4">
            <label>
                <input type="checkbox"
                       name="LimitedToDepartment" ng-model="_requirementTemplateCtrl.RequirementTemplateModel.LimitedToDepartment" />

            </label>
        </div>

    </div>
    <div class="form-group row" ng-if="_requirementTemplateCtrl.RequirementTemplateModel.LimitedToDepartment">
        <div class="col-lg-4">
            <label class="control-label">Departments</label>
        </div>
        <div class="col-lg-4" ng-init="_requirementTemplateCtrl.getDeparments()">
            <div style="padding: 0px;margin-top: -4px;"
                 isteven-multi-select
                 disable-property="true"
                 class="col-md-12"
                 input-model="_requirementTemplateCtrl.DepartmentList"
                 output-model="_requirementTemplateCtrl.RequirementTemplateModel.SelectedDepartments"
                 button-label="deptCode"
                 item-label="deptCode"
                 tick-property="Selected"
                 max-height="150px">
            </div>
        </div>

    </div>
</div>