<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Product Attribute</h4>
            </div>
            
            <div class="modal-body">
                <form class="form-horizontal" name="saveoptionsform">
                    <script type="text/ng-template" id="options.html">
                        <div>
                            <a class="glyphicon glyphicon-remove pull-right"></a>
                            <i class="fa fa-ellipsis-v handle ui-sortable-handle"></i>
                            <input class="form-control white" style="width:80%; display:inline" ng-model="opt" type="text">
                        </div>
                    </script>
                    <div class="col-sm-12" >
                        <div class="form-group">
                            <label class="fg-line">*Name</label>
                            <div>
                                <input type="text" ng-model="model.prop.propName" class="form-control" name="propName"  required />
                            </div>
                            <div ng-show="saveoptionsform.$submitted || saveoptionsform.propName.$touched">
                                <div class="text-danger" ng-show="saveoptionsform.propName.$error.required">Please enter Product Attribute Name</div>
                            </div>
                            <!--<span class="text-warning" ng-show="saveoptionsform.propName.$error.required">*required</span>-->
                        </div>

                        <div class="form-group">
                            <label class="fg-line">Description</label>
                            <div>
                                <input type="text" ng-model="model.prop.propDesc" class="form-control"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="fg-line">*Property Type</label>
                            <div>
                                <select class="form-control" ng-model="model.prop.propType" name="propType" required
                                        ng-options="i.value as (i.text) for i in propTypes">
                                    <!--<option value="0" ng-selected="model.prop.propType == 0">Product</option>
    <option value="1" ng-selected="model.prop.propType == 1">Category</option>-->
                                    
                                </select>
                               
                            </div>
                            <div ng-show="saveoptionsform.$submitted || saveoptionsform.propType.$touched">
                                <div class="text-danger" ng-show="saveoptionsform.propType.$error.required">Please select Property Type</div>
                            </div>
                            <!--<span class="text-warning" ng-show="saveoptionsform.propType.$error.required">*required</span>-->
                        </div>

                        <div class="form-group">
                            <label class="fg-line">*Data Type</label>
                            <div>
                                <select id="type" class="form-control" ng-model="model.prop.propDataType" name="propDataType" required>
                                    <option value="text">Short Text</option>
                                    <option value="multiline">Paragraph</option>
                                    <option value="drop">Dropdown</option>
                                    <option value="multi">Multiselect</option>
                                    <option value="date">Date</option>
                                    <option value="int">Integer Number</option>
                                    <option value="decimal">Decimal Number</option>
                                    <option value="boolean">True/False (Boolean)</option>
                                </select>
                            </div>
                            <div ng-show="saveoptionsform.$submitted || saveoptionsform.propDataType.$touched">
                                <div class="text-danger" ng-show="saveoptionsform.propDataType.$error.required">Please select Data Type</div>
                            </div>
                            <!--<span class="text-warning" ng-show="saveoptionsform.propDataType.$error.required">*required</span>-->
                        </div>

                        <div class="form-group" ng-if="model.prop.propDataType=='drop' || model.prop.propDataType=='multi'">
                            <div class="col-sm-12">
                                <div class="row" ng-if="model.prop.propOptions && model.prop.propOptions.length > 0" ng-repeat="opt in model.prop.propOptions">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                                <i class="fa fa-ellipsis-v handle ui-sortable-handle"></i>
                                                <input class="form-control white" style="width:80%; display:inline" ng-model="opt" type="text" name="option_{{$index}}" required>
                                                <label class="" style="width: 50px" >
                                                    <a class="glyphicon glyphicon-ok"  ng-click="saveOption($index, opt)" ng-show="saveoptionsform['option_{{$index}}'].$valid && saveoptionsform['option_{{$index}}'].$dirty"></a>
                                                    <a class="glyphicon glyphicon-remove" ng-click="removeOption($index)"></a>
                                                </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-default" ng-click="addOption()">Add Options</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" ng-disabled="!saveoptionsform.$valid" ng-click="saveclick({propData:model.prop})" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>