﻿<div class="white-box">
    <div class="row">
        <div ng-controller="MasterPaymentTermController as _masterPaymentTermCtrl" ng-init="_masterPaymentTermCtrl.getByPage()">
            <div class="pmb-block" st-pipe="_masterPaymentTermCtrl.getByPage" st-table="_masterPaymentTermCtrl.gridOpitions.data">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Payment terms
                            </h2>

                        </div>
                        <div class="col-md-8 text-right">
                            <button class="btn btn-sm btn-primary" type="button" ng-click="_masterPaymentTermCtrl.add()">
                                Add
                            </button>



                        </div>
                    </div>


                </div>
                <div class="pm-body">
                    <div class="table-responsive z-depth-2">
                        <table class="table table-striped table-vmiddle" show-filter="false">
                            <thead>
                                <tr>
                                    <th st-sort="Id" class="header">Id</th>
                                    <th st-sort="Title" class="header">Title</th>

                                    <th st-sort="Terms" class="header">Terms</th>
                                    <th st-sort="AllowEdit" class="header">Allow edit</th>

                                    <th st-sort="TradingMode" class="header">Active</th>
                                    <th class="header"></th>
                                    <!--<th class="header">Change</th>-->


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in _masterPaymentTermCtrl.gridOpitions.data">
                                    <td>
                                        {{row.Id}}
                                    </td>
                                    <td>
                                        {{row.Title }}
                                    </td>
                                    <td>
                                        {{row.Terms }}
                                    </td>
                                    <td>
                                        <i class="" ng-class="{ 'fas fa-check-square' : row.AllowEdit  , 'far fa-square' :  !row.AllowEdit}"></i>
                                    </td>
                                    <td>
                                        <i class="" ng-class="{ 'fas fa-check-square' : row.Active  , 'far fa-square' :  !row.Active}"></i>
                                    </td>

                                    <td>
                                        <span class="pull-right">
                                            <button class="btn-primary btn btn-sm" ng-click="_masterPaymentTermCtrl.edit(row)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger btn-sm" ng-click="_masterPaymentTermCtrl.Delete(row)" style="margin-left:15px"><i class="fa fa-trash"></i></button>

                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-right">
                                        <div style="display:inline-block;margin-right:auto;float:left">
                                            <strong>
                                                Total : <span>{{ _masterPaymentTermCtrl.gridOpitions.totalItems}}</span>
                                            </strong>
                                        </div>
                                        <div style="display:inline-block;margin-left:auto">
                                            <div st-pagination="" st-items-by-page="_masterPaymentTermCtrl.gridOpitions.itemsByPage" st-displayed-pages="_masterPaymentTermCtrl.gridOpitions.displayedPages"></div>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>