﻿<style>
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter*/
    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
      
    #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        max-height: 200px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="openPRReportCtrl">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <h3><strong>Open PR Dashboard</strong></h3>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row" ng-hide="serchString && serchString.length > 0">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <br />
                        <br />
                        <div class="pmb-block" st-table="openPRArr" st-safe-src="openPRArrInitial" style="margin-top:20px">
                            <div class="pmbb-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <small>
                                            <strong>
                                                Filter: {{UIFilters.yearmonth}}
                                                <br />
                                                <!--Total items: {{totalItems}}-->
                                            </strong>
                                        </small>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="exportItemsToExcel()">Export</button>
                                    </div>
                                    
                                    <!--<div class="col-md-2">
                                        <input style="width:auto;" type="text" st-search="" placeholder="Search" class="form-control" />
                                    </div>-->
                                     
                                </div>
                                <div class="table-responsive z-depth-2" double-scroll-bar-horizontal>

                                    <table class="table table-striped table-vmiddle" show-filter="false" st-filtered-collection>
                                        <thead>
                                            <tr>
                                                <th st-sort="PLANT_NAME">
                                                    <strong>Plant Name</strong>
                                                </th>
                                                <th st-sort="PURCHASER">
                                                    <strong>Purch. Name</strong>
                                                </th>
                                                <th st-sort="PURCHASE_REQUISITION">
                                                    <strong>PR No.</strong>
                                                </th>
                                                <th>
                                                    <strong>PR Item No</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>PR Release. Date</strong>
                                                </th>
                                                <th>
                                                    <strong>Material Desc.</strong>
                                                </th>
                                                <th st-sort="API_NAME">
                                                    <strong>PR Type</strong>
                                                </th>
                                                <th>
                                                    <strong>UOM</strong>
                                                </th>
                                                <th>
                                                    <strong>PR Qty.</strong>
                                                </th>
                                                <th>
                                                    <strong>Lead Time</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>Delivery Date</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>Category</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in openPRArrInitial">
                                                <td>
                                                    {{item.PLANT}}
                                                </td>
                                                <td>
                                                    {{item.REQUISITIONER_NAME}}
                                                </td>
                                                <td>
                                                    {{item.PR_NUMBER}}
                                                </td>
                                                <td>
                                                    {{item.ITEM_NUM}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.PR_CHANGE_DATE1}}
                                                </td>
                                                <td>
                                                    {{item.MATERIAL_DESCRIPTION}}
                                                </td>
                                                <td>
                                                    {{item.PR_TYPE}}
                                                </td>
                                                <td>
                                                    {{item.UOM}}
                                                </td>
                                                <td>
                                                    {{item.REQUIRED_QUANTITY | number:0}}
                                                </td>
                                                <td>
                                                    {{item.LEAD_TIME}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.DELIVERY_DATE1}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.CategoryCode}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="10000" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="pageChanged(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
